<!-------------- start tokens header ----------------->
<div class="top">
  <!-------------- start tokens title ----------------->
  <div class="d-flex">
    <h4>Tokens</h4>
  </div>
  <!-------------- end tokens title ----------------->
</div>
<!-------------- end tokens header ----------------->

<!-------------- start tokens content ----------------->
<div class="content">
  <!-------------- start add token button ----------------->
  <div class="float-right">
    <a routerLink="../add-token"><button class="add_token">Add Token</button></a>
  </div>
  <!-------------- end add token button ----------------->

  <!-------------- start check if the user has tokens or no ----------------->
  <!-------------- start check if the user has not tokens or no ----------------->
  <div *ngIf="isToken === false">
    You don't have tokens
  </div>
  <!-------------- end check if the user has not tokens or no ----------------->
  <!-------------- start check if the user has tokens ----------------->
  <!-------------------- start div for table-responsive ------------------>
  <div class="table-responsive" *ngIf="isToken === true">
    <!-------------------- start table ------------------>
    <table class="table table-bordered">
      <!-------------------- start table head ------------------>
      <thead class="table-secondary">
        <!-------------------- start table head tr ------------------>
        <tr>
          <th scope="col">Token Time</th>
          <th scope="col">Token Name</th>
          <th scope="col">Token Dynamic Price</th>
          <th scope="col">Token Symbol</th>
          <th scope="col">Token Value</th>
          <th scope="col">Actions</th>
        </tr>
        <!-------------------- end table head tr ------------------>
      </thead>
      <!-------------------- end table head ------------------>

      <!-------------------- start table body ------------------>
      <tbody>
        <!-------------------- start loop for tokens ------------------>
        <tr *ngFor="let token of tokens | paginate: { itemsPerPage: 10, currentPage: p }">
          <th scope="row">{{token.TokenTime | date}} <br> {{token.TokenTime | date:'mediumTime'}}</th>
          <td scope="row">{{token.TokenName}}</td>
          <td>{{token.Dynamicprice}}</td>
          <td>{{token.TokenSymbol}}</td>
          <td>{{token.TokenValue}}</td>
          <td class="text-center">
            <a routerLink="../edit-token" (click)="save(token)"><i class="fas fa-pencil-alt"></i>
              Edit</a>
            <a routerLink="../refund-token" (click)="save(token)" *ngIf="isAdmin === false"><i
                class="fas fa-exchange-alt"></i> Refund</a>
            <a routerLink="../token-details" (click)="save(token)"><i class="fas fa-info"></i>
              Details</a>

          </td>
        </tr>
        <!-------------------- end loop for tokens ------------------>
      </tbody>
      <!-------------------- end table body ------------------>
    </table>
    <!-------------------- end table ------------------>
    <div class="text-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
  <!-------------------- end div for table-responsive ------------------>
  <!-------------- start check if the user has tokens ----------------->
</div>
<!-------------- end tokens content ----------------->