.content a button.add_token{
    padding: 5px 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    background: #01458d;
    color: #fff;
    margin-bottom: 15px;
}

th , td {
    color : #000
  }
  

.content table a i{
    font-size: 16px !important;
    color: #01458d;
    margin: 0;
}

.content table a{
    margin-right: 5px;
    font-size: 16px !important;
    color: #01458d;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0;
}