<!-------- start forget password section ----------------->
<div class="form_section">

  <!-------- start forget password title ----------------->
  <div class="title_sec">
    <!------ logo of inovatian --------->
    <img src="../../../assets/images/logo1.png" style="width: 300px;">
    <!------- title of forget password ---------->
    <p class="sub-title">Hello! Retrieve password via your email.</p>
  </div>
  <!-------- end forget password  title ----------------->

  <!-------- start forget password box ----------------->
  <div class="login-box-body">
    <!----- start forget password form ------------>
    <form #forgetPasswordForm="ngForm" (ngSubmit)="onSubmit(forgetPasswordForm)">
      <!------- start email form group ---------->
      <div class="form-group">
        <!------- start email input ---------->
        <div class="input">
          <!------ email label -------------->
          <label>Email - البريد الالكتروني</label> <span class="astric">*</span>
          <!---------- email input --------------->
          <input type="email" class="form-control" placeholder="Email - البريد الالكتروني" name="emailAdd"
            #emailAdd="ngModel" [(ngModel)]="userDetails.emailAdd" required email>
          <!----- start email tooltip -------->
          <span class="tooltip-danger">
            <!----- start button of email tooltip -------->
            <button type="button" style="border: 0;padding: 0;background: transparent;"
              class="btn btn-outline-secondary mr-2 tooltip_btn" placement="top"
              ngbTooltip="Enter email address (ex: user@example.com) - ادخل  بريدك الالكترونى">
              <!------ start icon of tooltio -------->
              <span class="question_mark">
                <i class="fa fa-question w3-animate-fading"></i>

              </span>
              <!------ end icon of tooltio -------->
            </button>
            <!----- end button of email tooltip -------->
          </span>
          <!----- end email tooltip -------->
        </div>
        <!------- end email input ---------->
      </div>
      <!------- end email form group ---------->

      <!------- start button submit ---------->
      <div class="text-center">
        <!------- button submit ---------->
        <button class="btn-large btn-submit" type="submit" style="padding: 5px 30px;">
          Send - ارسل
        </button>
      </div>
      <!------- end button submit ---------->
    </form>
    <!----- end forget password form ------------>
  </div>
  <!-------- end forget password box ----------------->
</div>
<!-------- end forget password section ----------------->