.content form button.add_token{
    padding: 5px 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    background: #01458d;
    color: #fff;
    margin-bottom: 15px;
}

.clearfix{
    clear: both;
}