<!-------------- start edit token header ----------------->
<div class="top">
    <!-------------- start edit token title ----------------->
    <div class="d-flex">
        <h4>Edit Token</h4>
    </div>
    <!-------------- end edit token title ----------------->
</div>
<!-------------- end edit token header ----------------->
<!-------------------- start edit token content ------------------>
<div class="content">
    <!-------------------- start edit token form ------------------>
    <form #editTokenForm="ngForm" (ngSubmit)="OnSubmit(editTokenForm)">
        <!-------------------- start token id ------------------>
        <div class="row">
            <!-------------------- start token id label------------------>
            <div class="col-md-2">
                <!-------------------- token id label------------------>
                <label>Token Id</label>
            </div>
            <!-------------------- end token id label------------------>

            <!-------------------- start token id input------------------>
            <div class="col-md-10">
                <!-------------------- start token id input group------------------>
                <div class="input-group">
                    <!-------------------- token id input ------------------>
                    <input class="form-control" style="border-radius: 20px !important;margin-bottom: 20px;" name="id"
                        #id="ngModel" disabled [(ngModel)]="tokenDetails.id" placeholder="Enter token name"
                        maxlength="20">

                </div>
                <!-------------------- end token id input group------------------>
            </div>
            <!-------------------- end token id input------------------>
        </div>
        <!-------------------- end token id ------------------>
        <!-------------------- start token name ------------------>
        <div class="row">
            <!-------------------- start token name label------------------>
            <div class="col-md-2">
                <!-------------------- token name label------------------>
                <label>Token Name</label>
            </div>
            <!-------------------- end token name label------------------>

            <!-------------------- start token name input------------------>
            <div class="col-md-10">
                <!-------------------- start token name input group------------------>
                <div class="input-group">
                    <input disabled class="form-control" style="border-radius: 20px !important;margin-bottom: 20px;"
                        name="name" #name="ngModel" [(ngModel)]="tokenDetails.name" placeholder="Enter token name"
                        maxlength="20">

                </div>
                <!-------------------- end token name input group------------------>
            </div>
            <!-------------------- end token name input------------------>
        </div>
        <!-------------------- end token name ------------------>

        <!-------------------- start token symbol ------------------>
        <div class="row">
            <!-------------------- start token symbol label------------------>
            <div class="col-md-2">
                <!-------------------- token symbol label------------------>
                <label>Token Symbol</label>
            </div>
            <!-------------------- end token symbol label------------------>
            <!-------------------- start token symbol input------------------>
            <div class="col-md-10">
                <!-------------------- start token symbol input group------------------>
                <div class="input-group">
                    <input disabled class="form-control" style="border-radius: 20px !important;margin-bottom: 20px;"
                        name="symbol" #symbol="ngModel" [(ngModel)]="tokenDetails.symbol"
                        placeholder="Enter token symbol">
                </div>
                <!-------------------- end token symbol input group------------------>
            </div>
            <!-------------------- end token symbol input------------------>
        </div>
        <!-------------------- end token symbol ------------------>
        <!-------------------- start token icon ------------------>
        <div class="row">
            <!-------------------- start token icon label------------------>
            <div class="col-md-2">
                <!-------------------- token icon label------------------>
                <label>Icon Url</label>
            </div>
            <!-------------------- end token icon label------------------>
            <!-------------------- start token url input------------------>
            <div class="col-md-7">
                <!-------------------- start token icon input group------------------>
                <div class="input-group">
                    <!-------------------- token icon input ------------------>
                    <input class="form-control" type="file" style="border-radius: 20px !important;margin-bottom: 20px;"
                        name="icon" #icon="ngModel" [(ngModel)]="tokenDetails.icon" accept="image/*"
                        (change)="picked($event)">
                </div>
                <!-------------------- end token icon input group------------------>
            </div>
            <!-------------------- end token url input------------------>
            <!-------------------- start token url ------------------>
            <div class="col-md-3">
                <!-------------------- start check if token url is exist ------------------>
                <div *ngIf="token_image === true">
                    <img class="image" [src]="imagePath">
                </div>
                <!-------------------- end check if token url is exist ------------------>
                <!-------------------- start check if token url is not exist ------------------>
                <div *ngIf="token_image === false">
                    <img class="image" [src]="default_image" style="width: 50px !important;height: 50px !important;">
                </div>
                <!-------------------- end check if token url is not exist ------------------>
            </div>
            <!-------------------- end token url ------------------>
        </div>
        <!-------------------- end token icon ------------------>
        <!-------------------- start token total supply ------------------>
        <div class="row">
            <!-------------------- start token total supply label------------------>
            <div class="col-md-2">
                <label>Tokens Total Supply</label>
            </div>
            <!-------------------- end token total supply label------------------>
            <!-------------------- start token total supply input------------------>
            <div class="col-md-10">
                <!-------------------- start token total supply input group------------------>
                <div class="input-group">
                    <!-------------------- token total supply input------------------>
                    <input class="form-control" type="number"
                        style="border-radius: 20px !important;margin-bottom: 20px;" name="TokensTotalSupply"
                        #TokensTotalSupply="ngModel" [(ngModel)]="tokenDetails.TokensTotalSupply"
                        placeholder="Enter token Initiator Address">

                </div>
                <!-------------------- end token total supply input group------------------>
            </div>
            <!-------------------- end token total supply input------------------>
        </div>
        <!-------------------- end token total supply ------------------>

        <!-------------------- start token value ------------------>
        <div class="row">
            <!-------------------- start token value label------------------>
            <div class="col-md-2">
                <!-------------------- token value label------------------>
                <label>Token Value</label>
            </div>
            <!-------------------- end token value label------------------>
            <!-------------------- start token value input------------------>
            <div class="col-md-10">
                <!-------------------- start token value input group------------------>
                <div class="input-group">
                    <!-------------------- token value input------------------>
                    <input class="form-control" type="number" disabled
                        style="border-radius: 20px !important;margin-bottom: 20px;" name="TokenValue"
                        #TokenValue="ngModel" [(ngModel)]="tokenDetails.TokenValue"
                        placeholder="Enter token Initiator Address">
                </div>
                <!-------------------- end token value input group------------------>
            </div>
            <!-------------------- end token value input------------------>
        </div>
        <!-------------------- end token value ------------------>

        <!-------------------- start token reissuability ------------------>
        <div class="row">
            <!-------------------- start token reissuability label------------------>
            <div class="col-md-2">
                <!-------------------- token reissuability label------------------>
                <label>Token Reissuability</label>
            </div>
            <!-------------------- end token reissuability label------------------>

            <!-------------------- start token reissuability input------------------>
            <div class="col-md-10">
                <!-------------------- start token reissuability input group------------------>
                <div class="input-group">
                    <!-------------------- token reissuability select ------------------>
                    <select class="form-control" name="Reissuability" #Reissuability="ngModel"
                        [(ngModel)]="tokenDetails.Reissuability"
                        style="border-radius: 20px !important;margin-bottom: 20px;">
                        <option *ngFor="let ReissuabilityOption of ReissuabilityOptions">{{ReissuabilityOption.name}}
                        </option>
                    </select>
                </div>
                <!-------------------- end token reissuability input group------------------>
            </div>
            <!-------------------- end token reissuability input ------------------>
        </div>
        <!-------------------- end token reissuability ------------------>
        <!-------------------- start token percision ------------------>
        <div class="row">
            <!-------------------- start token percision label------------------>
            <div class="col-md-2">
                <!-------------------- token percision label------------------>
                <label>Token Precision</label>
            </div>
            <!-------------------- end token percision label------------------>
            <!-------------------- start token percision input------------------>
            <div class="col-md-10">
                <!-------------------- start token percision input group------------------>
                <div class="input-group">
                    <!-------------------- token percision input------------------>
                    <input class="form-control" type="number"
                        style="border-radius: 20px !important;margin-bottom: 20px;" name="Precision"
                        #Precision="ngModel" [(ngModel)]="tokenDetails.Precision"
                        placeholder="Enter token Initiator Address">

                </div>
                <!-------------------- end token percision input group------------------>
            </div>
            <!-------------------- end token percision input------------------>
        </div>
        <!-------------------- end token percision ------------------>

        <!-------------------- start token usage type ------------------>
        <div class="row">
            <!-------------------- start token usage type label------------------>
            <div class="col-md-2">
                <!-------------------- token usage type label------------------>
                <label>Token Usage Type</label>
            </div>
            <!-------------------- end token usage type label------------------>
            <!-------------------- start token usage type input------------------>
            <div class="col-md-10">
                <!-------------------- start token usage type input group------------------>
                <div class="input-group">
                    <!-------------------- token usage type select------------------>
                    <select disabled class="form-control" name="UsageType" #UsageType="ngModel"
                        [(ngModel)]="tokenDetails.UsageType"
                        style="border-radius: 20px !important;margin-bottom: 20px;">
                        <option *ngFor="let usageTypeOption of usageTypeOptions">{{usageTypeOption.name}}</option>

                    </select>

                </div>
                <!-------------------- end token usage type input group------------------>
            </div>
            <!-------------------- end token usage type input------------------>
        </div>
        <!-------------------- end token usage type ------------------>

        <!-------------------- start token type ------------------>
        <div class="row">
            <!-------------------- start token type label------------------>
            <div class="col-md-2">
                <!-------------------- token type label------------------>
                <label>Token Type</label>
            </div>
            <!-------------------- end token type label------------------>
            <div class="col-md-10">
                <!-------------------- start token type input group------------------>
                <div class="input-group">
                    <!-------------------- token type select ------------------>
                    <select class="form-control" name="TokenType" #TokenType="ngModel"
                        [(ngModel)]="tokenDetails.TokenType"
                        style="border-radius: 20px !important;margin-bottom: 20px;">
                        <option *ngFor="let tokenTypeOption of tokenTypeOptions">{{tokenTypeOption.name}}</option>

                    </select>
                </div>
                <!-------------------- start token type input group------------------>
            </div>
            <!-------------------- end token type label------------------>
        </div>
        <!-------------------- end token type ------------------>

        <!-------------------- start token contract id ------------------>
        <div class="row" *ngIf="tokenDetails.TokenType === 'public'">
            <!-------------------- start token contract id label------------------>
            <div class="col-md-2">
                <!-------------------- token contract id label------------------>
                <label>Token Contract ID</label>
            </div>
            <!-------------------- end token contract id label------------------>

            <!-------------------- start token contract id input------------------>
            <div class="col-md-10">
                <!-------------------- start token contract id input group ------------------>
                <div class="input-group">
                    <!-------------------- token contract id input ------------------>
                    <input class="form-control" type="text" style="border-radius: 20px !important;margin-bottom: 20px;"
                        name="ContractID" #ContractID="ngModel" [(ngModel)]="tokenDetails.ContractID"
                        placeholder="Enter token contract iD">

                </div>
                <!-------------------- end token contract id input group ------------------>
            </div>
            <!-------------------- end token contract id input------------------>
        </div>
        <!-------------------- end token contract id ------------------>

        <!-------------------- start add user public key ------------------>
        <div class="services-list_update" *ngIf="tokenDetails.TokenType === 'private'">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <!-------------------- start user public key add button ------------------>
                        <div (click)="addPK()" class="btn-add-ip float-right" style="height: 45px;
          background: transparent;
          border: 1px solid #ddd;
          width: 12%;
          text-align: center;
          line-height: 45px;
          color: #000;
          border-radius: 10px;
          cursor: pointer;
          margin-bottom: 20px;
          font-size: 18px;">
                            <a class=" ">+</a>


                        </div>
                        <!-------------------- end user public key add button ------------------>
                        <div class="cleafix"></div>
                    </div>
                </div>
            </div>
            <!-------------------- end add user public key ------------------>
            <!-------------------- start list of user public key ------------------>
            <div class="ip-list"> </div>
            <div *ngFor="let pk of tokenDetails.UserPublicKey" class="ip-input">
                <!-------------------- start user public keys ------------------>
                <div class="row">
                    <!-------------------- start user public key label------------------>
                    <div class="col-md-2">
                        <!-------------------- user public key label------------------>
                        <label>User Public Key</label>
                    </div>
                    <!-------------------- end user public key label------------------>
                    <!-------------------- start user public key input------------------>
                    <div class="col-md-8">
                        <!-------------------- start user public key input group------------------>
                        <div class="ip">
                            <div class="d-flex">
                                <!-------------------- user public key input ------------------>
                                <input type="text" placeholder="Enter user public key" name="ser_codes_update[]"
                                    value="{{pk}}" placeholder="" class="form-control"
                                    style="border-radius: 20px !important;margin-bottom: 20px;">
                            </div>
                        </div>
                        <!-------------------- end user public key input group------------------>
                    </div>
                    <!-------------------- end user public key input------------------>
                    <!-------------------- start remove user public key ------------------>
                    <div class="col-md-2">
                        <!-------------------- start  remove user public key button ------------------>
                        <div class="btn-remove-service" (click)="removePK()"
                            style="height: 45px;background: transparent;border: 1px solid #ddd;width: 65%;text-align: center;line-height: 45px;color: #000;border-radius: 10px;cursor: pointer;font-size: 18px;">
                            <a class=" ">x</a>
                        </div>
                        <!-------------------- end  remove user public key button ------------------>
                    </div>
                    <!-------------------- end remove user public key ------------------>
                </div>
                <!-------------------- end user public keys ------------------>
            </div>
            <!-------------------- end list of user public key ------------------>
        </div>
        <!-------------------- end add user public key ------------------>
        <!-------------------- start token value dynamic ------------------>
        <div class="row">
            <!-------------------- start token value dynamic label------------------>
            <div class="col-md-2">
                <!-------------------- token value dynamic label------------------>
                <label>Token Value Dynamic</label>
            </div>
            <!-------------------- end token value dynamic label------------------>
            <!-------------------- start token value dynamic input------------------>
            <div class="col-md-10">
                <!-------------------- start token value dynamic input group------------------>
                <div class="input-group">
                    <!-------------------- token value dynamic select ------------------>
                    <select class="form-control" name="ValueDynamic" #ValueDynamic="ngModel"
                        [(ngModel)]="tokenDetails.ValueDynamic"
                        style="border-radius: 20px !important;margin-bottom: 20px;">
                        <option *ngFor="let valueDynamicOption of valueDynamicOptions">{{valueDynamicOption.name}}
                        </option>

                    </select>

                </div>
                <!-------------------- end token value dynamic input group------------------>
            </div>
            <!-------------------- end token value dynamic input------------------>
        </div>
        <!-------------------- end token value dynamic ------------------>
        <!------------------- start token dynamic price ------------------>
        <div class="row">
            <!------------------- start token dynamic price label ------------------>
            <div class="col-md-2">
                <!------------------- token dynamic price label ------------------>
                <label>Token Dynamic price</label>
            </div>
            <!------------------- end token dynamic price label ------------------>
            <!------------------- start token dynamic price input ------------------>
            <div class="col-md-10">
                <!------------------- start token dynamic price input group ------------------>
                <div class="input-group">
                    <!------------------- token dynamic price input ------------------>
                    <input class="form-control" type="number"
                        style="border-radius: 20px !important;margin-bottom: 20px;" name="Dynamicprice"
                        #Dynamicprice="ngModel" [(ngModel)]="tokenDetails.Dynamicprice"
                        placeholder="Enter token Initiator Address">

                </div>
                <!------------------- end token dynamic price input group ------------------>
            </div>
            <!------------------- end token dynamic price input ------------------>
        </div>
        <!-------------------- end token dynamic price ------------------>

        <!-------------------- start description ------------------>
        <div class="row">
            <!-------------------- start description label ------------------>
            <div class="col-md-2">
                <!-------------------- description label ------------------>
                <label>Description</label>
            </div>
            <!-------------------- end description label ------------------>
            <!-------------------- start description input ------------------>
            <div class="col-md-10">
                <!-------------------- start description input group ------------------>
                <div class="input-group">
                    <!-------------------- description textarea ------------------>
                    <textarea class="form-control" placeholder="enter token description" name="Description"
                        #Description="ngModel" [(ngModel)]="tokenDetails.Description"
                        style="border-radius: 20px !important;margin-bottom: 20px;" rows="5">

                    </textarea>

                </div>
                <!-------------------- end description input group ------------------>
            </div>
            <!-------------------- end description input ------------------>
        </div>
        <!-------------------- end description ------------------>
        <!------- start button submit ---------->
        <div class="float-right">
            <!------- button submit ---------->
            <button class="add_token save-update" type="submit" style="margin-bottom: 0 !important">Save</button>
        </div>
        <!------- end button submit ---------->
        <div class="clearfix"></div>
    </form>
    <!-------------------- end edit token form ------------------>
</div>
<!-------------------- end edit token content ------------------>