<!-------- start login section ----------------->
<div class="form_section">

  <!-------- start login title ----------------->
  <div class="title_sec">
    <!------ logo of inovatian --------->
    <img src="../../../assets/images/logo1.png" style="width: 300px;">
    <!------- title of login ---------->
    <p class="sub-title">Hello! Log in with your Email and Password.</p>
  </div>
  <!-------- end login title ----------------->

  <!-------- start login box ----------------->
  <div class="login-box-body">
    <!----- start login form ------------>
    <form #userLoginForm="ngForm" (ngSubmit)="onLogin(emailAdd.value,password.value)">
      <!------- start email form group ---------->
      <div class="form-group">
        <!------- start email input ---------->
        <div class="input">
          <!------ email label -------------->
          <label>Email - البريد الالكتروني</label> <span class="astric">*</span>
          <!---------- email input --------------->
          <input type="email" class="form-control emailAdd" placeholder="Email - البريد الالكتروني" name="emailAdd"
            #emailAdd="ngModel" [(ngModel)]="userDetails.emailAdd" required email>

          <!----- start email tooltip -------->
          <span class="tooltip-danger">
            <!----- start button of email tooltip -------->
            <button type="button" style="border: 0;padding: 0;background: transparent;"
              class="btn btn-outline-secondary mr-2 tooltip_btn" placement="top"
              ngbTooltip="Enter email address (ex: user@example.com) - ادخل  بريدك الالكترونى">
              <!------ start icon of tooltio -------->
              <span class="question_mark">
                <i class="fa fa-question w3-animate-fading"></i>
              </span>
              <!------ end icon of tooltio -------->
            </button>
            <!----- end button of email tooltip -------->
          </span>
          <!----- end email tooltip -------->

        </div>
        <!------- end email input ---------->
      </div>
      <!------- end email form group ---------->
      <!------- start password form group ---------->
      <div class="form-group">
        <!------- start password input ---------->
        <div class="input">
          <!------ password label -------------->
          <label>Password - كلمة المرور</label> <span class="astric">*</span>
          <!---------- password input --------------->
          <input type="password" class="form-control password" id="password-field" placeholder="Password - كلمة المرور"
            [(ngModel)]="userDetails.password" name="password" #password="ngModel" required minlength="8"
            maxlength="30">
          <!---------- show password --------------->
          <span toggle="#password-field" class="eva eva-eye field_icon toggle-password"></span>
          <!----- start password tooltip -------->
          <span class="tooltip-danger">
            <!----- start button of password tooltip -------->
            <button type="button" style="border: 0;padding: 0;background: transparent;"
              class="btn btn-outline-secondary mr-2 tooltip_btn" placement="top"
              ngbTooltip="Password must be at least 10 characters (letters, numbers and special characters) - كلمة المرور يجب ان تكون على الأقل 10 عناصر (أحرف و أرقام و رموز)">
              <!------ start icon of tooltio -------->
              <span class="question_mark">
                <i class="fa fa-question w3-animate-fading"></i>
              </span>
              <!------ end icon of tooltio -------->
            </button>
            <!----- end button of email tooltip -------->
          </span>
          <!----- end password tooltip -------->
        </div>
        <!------- end password input ---------->
      </div>
      <!------- end password form group ---------->

      <!------- start remember me form group ---------->
      <div class="form-group">
        <!------- start remember me input ---------->
        <div class="input">
          <!---------- remember me input --------------->
          <input type="checkbox" [(ngModel)]="userDetails.isChecked" name="isChecked"> Remember me
        </div>
        <!------- end remember me input ---------->
      </div>

      <!------- end remember me form group ---------->

      <!------- start forget password form group ---------->
      <div class="form-group">
        <!------- start forget password input ---------->
        <div class="input">
          <!---------- forget password link --------------->
          <a routerLink="../forget-password"
            style="color:#01458d !important;font-weight:500;text-decoration: none;">Forgot password? - هل نسيت كلمة
            المرور؟</a>
        </div>
      </div>
      <!------- end forget password form group ---------->

      <!------- start button submit ---------->
      <div class="text-center">
        <!------- button submit ---------->
        <button class="btn-large btn-submit" type="submit">
          Log In - دخول
        </button>
      </div>
      <!------- end button submit ---------->
      <!------- start register link ---------->
      <div class="register">
        <h4>Do not have an account? - ليس لدي حساب؟ <br> <a routerLink="../register">Register - تسجيل</a></h4>
      </div>
      <!------- end register link ---------->
    </form>
    <!----- end login form ------------>
  </div>
  <!-------- end login box ----------------->
</div>

<!-------- end login section ----------------->