<!-------------- start add service header ----------------->
<div class="top">
  <!-------------- start add service title ----------------->
  <div class="d-flex">
    <h4>Add Service</h4>
  </div>
  <!-------------- end add service title ----------------->
</div>
<!-------------- end add service header ----------------->

<!-------------------- start add service content ------------------>
<div class="content">
  <!-------------------- start add service form ------------------>
  <form #addServiceForm="ngForm" (ngSubmit)="OnSubmit(addServiceForm)">
    <!-------------------- start service type ------------------>
    <div class="row">
      <!-------------------- start service type label------------------>
      <div class="col-md-2">
        <!-------------------- service type label------------------>
        <label>Service Type</label><span class="astric">*</span>
      </div>
      <!-------------------- end service type label------------------>
      <!-------------------- start service type input------------------>
      <div class="col-md-10">
        <!-------------------- start service type input group------------------>
        <div class="input-group">
          <!-------------------- start service type select ------------------>

          <select class="form-control" name="type" #type="ngModel" [(ngModel)]="serviceDetails.type"
            style="border-radius: 20px !important;margin-bottom: 20px;">
            <option *ngFor="let typeOption of typeOptions">{{typeOption.name}}</option>
          </select>
          <!-------------------- end service type select ------------------>
        </div>
        <!-------------------- start service type input group------------------>
      </div>
      <!-------------------- end service type input------------------>
    </div>
    <!-------------------- end service type ------------------>

    <!-------------------- start service amount ------------------>
    <div class="row">
      <!-------------------- start service amount label------------------>
      <div class="col-md-2">
        <!-------------------- service amount label------------------>
        <label>Amount</label> <span class="astric">*</span>
      </div>
      <!-------------------- end service amount label------------------>

      <!-------------------- start service amount input------------------>
      <div class="col-md-10">
        <!-------------------- start service amount input group------------------>
        <div class="input-group">
          <!-------------------- start service amount input ------------------>
          <input class="form-control" type="number" style="border-radius: 20px !important;margin-bottom: 20px;"
            name="amount" #amount="ngModel" [(ngModel)]="serviceDetails.amount" placeholder="Enter service amount"
            min="1" max="1440">
          <!-------------------- end service amount input ------------------>
        </div>
        <!-------------------- end service amount input group------------------>
      </div>
      <!-------------------- end service amount input------------------>
    </div>
    <!-------------------- end service amount ------------------>

    <!-------------------- start service period ------------------>
    <div class="row">
      <!-------------------- start service period label------------------>
      <div class="col-md-2">
        <!-------------------- service period label------------------>
        <label>Period</label> <span class="astric">*</span>
      </div>
      <!-------------------- end service period label------------------>
      <!-------------------- start service period input------------------>
      <div class="col-md-7">
        <input class="form-control" type="number" style="border-radius: 20px !important;margin-bottom: 20px;"
          name="Duration" #Duration="ngModel" [(ngModel)]="serviceDetails.Duration" placeholder="Enter service duration"
          min="1" max="1440">
      </div>
      <!-------------------- start service day input------------------>
      <div class="col-md-3">
        <!-------------------- start service day input group------------------>
        <div class="input-group">
          <!-------------------- start service day select ------------------>
          <select class="form-control" [value]="selectedOwnerLevel" [(ngModel)]="serviceDetails.day" name="day"
            #day="ngModel" style="border-radius: 20px !important;margin-bottom: 20px;">
            <option *ngFor="let dayOption of dayOptions">{{dayOption.name}}</option>
          </select>
          <!-------------------- end service day select ------------------>
        </div>
        <!-------------------- end service day input group------------------>
      </div>
      <!-------------------- end service day input------------------>
    </div>
    <!-------------------- end service period ------------------>

    <!-------------------- start service bandwidth ------------------>
    <div class="row">
      <!-------------------- start service bandwidth label------------------>
      <div class="col-md-2">
        <!-------------------- service bandwidth label------------------>
        <label>Bandwidth</label> <span class="astric">*</span>
      </div>
      <!-------------------- end service bandwidth label------------------>
      <!-------------------- start service bandwidth input------------------>
      <div class="col-md-7">
        <!-------------------- start service bandwidth input group------------------>
        <div class="input-group">
          <!-------------------- start service bandwidth input ------------------>
          <input class="form-control" type="number" style="border-radius: 20px !important;margin-bottom: 20px;"
            name="bandwidth" #bandwidth="ngModel" [(ngModel)]="serviceDetails.bandwidth" min="1" max="1024">
          <!-------------------- end service bandwidth input ------------------>
        </div>
        <!-------------------- end service bandwidth input group------------------>
      </div>
      <!-------------------- end service bandwidth input------------------>
      <!-------------------- start service bandwidth type input------------------>
      <div class="col-md-3">
        <!-------------------- start service type input group------------------>
        <div class="input-group">
          <!-------------------- start service type select ------------------>
          <select [value]="selectedOwnerLevel2" class="form-control" [(ngModel)]="serviceDetails.Mbytes" name="Mbytes"
            #Mbytes="ngModel" style="border-radius: 20px !important;margin-bottom: 20px;">
            <option *ngFor="let bandwidthption of bandwidthptions">{{bandwidthption.name}}
            </option>
          </select>
          <!-------------------- end service type select ------------------>
        </div>
        <!-------------------- end service type input group------------------>
      </div>
      <!-------------------- end service bandwidth type input------------------>
    </div>
    <!-------------------- end service bandwidth ------------------>

    <!------- start button submit ---------->
    <div class="float-right">
      <!------- button submit ---------->
      <button class="add_token save" type="submit" style="margin-bottom: 0 !important">Request</button>
    </div>
    <!------- end button submit ---------->
    <div class="clearfix"></div>

  </form>
  <!-------------------- end add service form ------------------>
</div>
<!-------------------- end add service content ------------------>