<!-------------- start balance header ----------------->
<div class="top">
  <!-------------- start balance title ----------------->
  <div class="d-flex">
    <h4>Balance</h4>
  </div>
</div>
<!-------------- end balance header ----------------->

<!-------------------- start balance content ------------------>
<div class="content">

  <!-------------------- start check if no balance in user ------------------>
  <div *ngIf="!balanceDetails else another">
    No balance Yet
  </div>
  <!-------------------- end check if no balance in user ------------------>

  <!-------------------- start check if balance in user ------------------>
  <ng-template #another>
    <!-------------------- start div for table-responsive ------------------>
    <div class="table-responsive">
      <!-------------------- start table ------------------>
      <table class="table table-bordered">
        <!-------------------- start table head ------------------>
        <thead class="table-secondary">
          <!-------------------- start table head tr ------------------>
          <tr>
            <th scope="">Token Name</th>
            <th scope="col">Balance</th>
            <th scope="col">Sent</th>
            <th scope="col">Reciever</th>
          </tr>
          <!-------------------- end table head tr ------------------>
        </thead>
        <!-------------------- end table head ------------------>

        <!-------------------- start table body ------------------>
        <tbody>
          <!-------------------- start loop for balance ------------------>
          <tr *ngFor="let balanceDetail of balanceDetails">
            <th>{{balanceDetail.Tokenname}}</th>
            <td>{{balanceDetail.Balance.TotalBalance}}</td>
            <td>{{balanceDetail.Balance.TotalSent}}</td>
            <td>{{balanceDetail.Balance.TotalReceived}}</td>
          </tr>
          <!-------------------- end loop for balance ------------------>
        </tbody>
        <!-------------------- end table body ------------------>
      </table>
      <!-------------------- end table ------------------>

      <!-------------------- start pagination ------------------>
      <div class="text-center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <!-------------------- end pagination ------------------>
    </div>
    <!-------------------- end div for table-responsive ------------------>
  </ng-template>
  <!-------------------- end check if balance in user ------------------>
</div>
<!-------------------- end balance content ------------------>