<!-------------- start refund token header ----------------->
<div class="top">
  <!-------------- start refund token title ----------------->
  <div class="d-flex">
    <h4>Refund {{tokenList.TokenName}}</h4>
  </div>
  <!-------------- end refund token title ----------------->
</div>
<!-------------- end refund token header ----------------->

<!-------------- start refund token content ----------------->
<div class="content" id="send">
  <!-------------- start refund token form ----------------->
  <form #refunkToken="ngForm" (ngSubmit)="OnSubmit(refunkToken)">
    <!-------------------- start sender public key ------------------>
    <div class="row">
      <!-------------------- start sender public key label ------------------>
      <div class="col-md-2">
        <!-------------------- sender public key label ------------------>
        <label>Sender Public Key</label>
      </div>
      <!-------------------- end sender public key label ------------------>
      <!-------------------- start sender public key input ------------------>
      <div class="col-md-10">
        <!-------------------- start sender public key input group ------------------>
        <div class="input-group">
          <!-------------------- sender public key input ------------------>
          <textarea disabled class="form-control"
            style="resize:none;overflow: hidden;height: auto;border-radius: 20px !important;margin-bottom: 20px;"
            value="{{senderDetails.PublicKey}}"></textarea>
        </div>
        <!-------------------- end sender public key input group ------------------>
      </div>
      <!-------------------- end sender public key label ------------------>
    </div>
    <!-------------------- end sender public key ------------------>

    <!-------------------- start token id ------------------>
    <div class="row">
      <!-------------------- start token id label ------------------>
      <div class="col-md-2">
        <!-------------------- token id label ------------------>
        <label>Token Id</label>
      </div>
      <!-------------------- end token id label ------------------>
      <!-------------------- start token id input ------------------>
      <div class="col-md-10">
        <!-------------------- start token id input group ------------------>
        <div class="input-group">
          <!-------------------- token id input ------------------>
          <input class="form-control" style="border-radius: 20px !important;margin-bottom: 20px;" name="id"
            #id="ngModel" disabled [(ngModel)]="tokenDetails.id" placeholder="Enter token name">
        </div>
        <!-------------------- end token id input group ------------------>
      </div>
      <!-------------------- end token id input ------------------>
    </div>
    <!-------------------- end token id ------------------>

    <!-------------------- start flat currency ------------------>
    <div class="row">
      <!-------------------- start flat currency label ------------------>
      <div class="col-md-2">
        <!-------------------- flat currency label ------------------>
        <label>Flat Currency </label>
      </div>
      <!-------------------- end flat currency label ------------------>
      <!-------------------- start flat currency input ------------------>
      <div class="col-md-10">
        <!-------------------- start flat currency input group ------------------>
        <div class="input-group">
          <!-------------------- flat currency select ------------------>
          <select class="form-control" name="flat_currency" #flat_currency="ngModel"
            [(ngModel)]="tokenDetails.flat_currency" style="border-radius: 20px !important;margin-bottom: 20px;"
            (change)="check(tokenDetails.flat_currency)">
            <option *ngFor="let flatCurrencyOption of flatCurrencyOptions">{{flatCurrencyOption.name}}</option>

          </select>
        </div>
        <!-------------------- end flat currency input group ------------------>
      </div>
      <!-------------------- end flat currency input ------------------>
    </div>
    <!-------------------- end flat currency ------------------>
    <!-------------------- start receiver public ------------------>
    <div class="row" *ngIf="tokenDetails.flat_currency === true">
      <!-------------------- start receiver public key label ------------------>
      <div class="col-md-2">
        <!--------------------  receiver public key label ------------------>
        <label>Receiver Public Key</label>
      </div>
      <!-------------------- end receiver public key label ------------------>
      <!-------------------- start receiver public key input ------------------>
      <div class="col-md-10">
        <!-------------------- start receiver public key input group ------------------>
        <div class="input-group">
          <!-------------------- start receiver public key input div ------------------>
          <div class="input" style="    width: 100%;
          ">
            <!-------------------- receiver public key input ------------------>
            <textarea class="form-control" value="{{receiverDetails.PublicKey}}"
              style="resize:none;overflow: hidden;height: auto;border-radius: 20px !important;margin-bottom: 20px;"></textarea>
            <!-------------------- start search button ------------------>
            <button type="button" title="search for receiver public key" class="btn btn-primary modal_btn  ml-3 mr-3"
              style="background: transparent;padding:0;cursor: pointer; right:35px;height: auto;top:10px;position: absolute
            " data-toggle="modal" data-target="#exampleModal">
              <img src="../../../assets/images/keyword-search.png" style="width: 23px;margin-top: -8px;">
            </button>
            <!-------------------- end search button ------------------>
          </div>
          <!-------------------- end receiver public key input div ------------------>

        </div>
        <!-------------------- end receiver public key input group ------------------>
      </div>
      <!-------------------- end receiver public key input ------------------>
    </div>
    <!-------------------- end receiver public key ------------------>

    <!-------------------- start amount ------------------>
    <div class="row">
      <!-------------------- start amount label ------------------>
      <div class="col-md-2">
        <!-------------------- amount label ------------------>
        <label>Amount</label>
      </div>
      <!-------------------- end amount label ------------------>
      <!-------------------- start amount input ------------------>
      <div class="col-md-10">
        <!-------------------- start amount input group ------------------>
        <div class="input-group">
          <!-------------------- amount input ------------------>
          <input class="form-control" name="Amount" #Amount="ngModel" [(ngModel)]="tokenDetails.Amount"
            placeholder="Enter Amount" type="text" required
            style="border-radius: 20px !important;margin-bottom: 20px;" />
        </div>
        <!-------------------- end amount input group ------------------>
      </div>
      <!-------------------- end amount input ------------------>
    </div>
    <!-------------------- end amount ------------------>
    <!-------------------- start upload private key ------------------>
    <div class="row">
      <!-------------------- start upload private key label ------------------>
      <div class="col-md-2">
        <!-------------------- upload private key label ------------------>
        <label>upload private key file</label>
      </div>
      <!-------------------- end upload private key label ------------------>
      <!-------------------- start upload private key input ------------------>
      <div class="col-md-10">
        <!-------------------- start upload private key input group ------------------>
        <div class="input-group" style="margin-bottom: 20px;">
          <!-------------------- upload private key input ------------------>
          <input class="form-control" name="priv_file" #priv_file="ngModel" [(ngModel)]="tokenDetails.priv_file"
            type="file" required style="border-radius: 20px !important;display: inline;"
            (change)="onChange($event.target.files)" />
        </div>
        <!-------------------- end upload private key input group ------------------>
      </div>
      <!-------------------- end upload private key input ------------------>
    </div>
    <!-------------------- end upload private key ------------------>
    <!------- start button submit ---------->
    <div class="float-right">
      <!------- button submit ---------->
      <button class="save_btn">Send</button>
    </div>
    <!------- end button submit ---------->
    <div class="clearfix"></div>
  </form>
  <!-------------- end refund token form ----------------->
</div>
<!-------------- end refund token content ----------------->

<!------- start search modal ---------->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <!------- start modal dialog ---------->
  <div class="modal-dialog" role="document">
    <!------- start modal content ---------->
    <div class="modal-content">
      <!------- start modal header ---------->
      <div class="modal-header">
        <!------- modal header ---------->
        <h5 class="modal-title" id="exampleModalLabel" style="color:#fff;">Public Key Search</h5>
        <!------- start modal close button ---------->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#fff;opacity: 1;">
          <span aria-hidden="true">&times;</span>
        </button>
        <!------- end modal close button ---------->
      </div>
      <!------- end modal header ---------->
      <!------- start modal body ---------->
      <div class="modal-body">
        <!------- start search form ---------->
        <form #searchForm="ngForm" (ngSubmit)="onSearch(searchForm)">
          <!------- start search input  ---------->
          <div class="input">
            <!------- search icon  ---------->
            <i class="eva eva-person"></i>
            <!------- search input  ---------->
            <input type="text" placeholder="Enter receiver user name" class="form-control"
              [(ngModel)]="searchDetails.searchText" name="searchText" #searchText="ngModel">
          </div>
          <!------- end search input  ---------->
          <!------- start search buttons  ---------->
          <div class="buttons">
            <div class="d-flex">
              <!------- start search button  ---------->
              <div class="button-group">
                <button type="submit" class="send_btn">Search</button>
              </div>
              <!------- end search button  ---------->
              <!------- start cancel button  ---------->
              <div class="button2-group">

                <button type="button" data-dismiss="modal" class="cancel_btn">Cancel</button>
              </div>
              <!------- end cancel button  ---------->
            </div>
          </div>
          <!------- end search buttons  ---------->
        </form>
        <!------- end search form ---------->
      </div>
      <!------- end modal body ---------->
    </div>
    <!------- end modal content ---------->
  </div>
  <!------- end modal dialog ---------->
</div>
<!------- end search modal ---------->