.content form .save_btn {
    padding: 5px 30px;
    border: 1px solid transparent;
    margin-right: 10px;
    border-radius: 20px;
    background: #01458d;
    color: #fff;
}

.content .input-group img{
    position : absolute;
    left: 15px;
    top: 10px;
    width: 26px;
  
  }

  .content .input-group{
    position : relative;
    width: 100%;
  }

  .modal_btn{
    background: transparent;
    }
    
    .modal form .input{
      position: relative;
      margin-bottom: 20px;
    }
    
    .modal form  .input i{
      position: absolute;
      top: 11px;
      left: 10px;
      font-size: 22px;
      color: #01458d;
    }
    
    .modal form .input input{
      padding-left: 40px;
    }
    
    .modal .send_btn{
      padding: 5px 30px;
      border: 1px solid transparent;
      margin-right: 10px;
      border-radius: 20px;
      background: #01458d;
      color:#fff;
    }
    
    .modal .copy_btn{
      padding: 5px 30px;
      border: 1px solid #01458d;
      margin-right: 10px;
      border-radius: 20px;
      background: transparent;
      color:#01458d;
    }
    
    .modal .button2-group{
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .modal .modal-header{
      background: #01458d;
      color: #fff;
    }
    
    .modal .buttons{
      position: relative;
    }
    .modal .cancel_btn{
      padding: 5px 30px;
      border: 1px solid transparent;
      border-radius: 20px;
      background: #dc3545;
      color:#fff;
    }