.content a button.add_token{
    padding: 5px 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    background: #01458d;
    color: #fff;
    margin-bottom: 15px;
}


th , td {
  color : #000
}



.content table a i{
    font-size: 16px !important;
    color: #01458d;
    margin: 0;
}

.content table a{
    margin-right: 5px;
    font-size: 16px !important;
    color: #01458d;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0;
}

.nb-theme-corporate .btn.btn-success:active, .nb-theme-corporate .btn.btn-success.active, .nb-theme-corporate .btn.btn-success:active:focus{
    border: 2px solid #01458d !important;
    color: #01458d !important;
}

.modal .modal-header{
    background: #01458d;
    color: #fff;
  }

  .modal .model-body h4{
    font-size: 16px;
  }

  .modal .modal-body h4 span{
    color: #01458d !important;
    font-weight: bolder !important;
    font-size: 18px !important
  }