<!-------------- start services header ----------------->
<div class="top">
  <!-------------- start services title ----------------->
  <div class="d-flex">
    <h4>Purchase services</h4>
  </div>
  <!-------------- start services title ----------------->
</div>
<!-------------- end services header ----------------->

<!-------------- start services content ----------------->
<div class="content">
  <!-------------- start add service button ----------------->
  <div class="float-right">
    <!-------------- add service button ----------------->
    <a routerLink="../add-service"><button class="add_token">Add Service</button></a>
  </div>
  <!-------------- end add service button ----------------->

  <!-------------- start check if tde user has services or no ----------------->
  <!-------------- start check if tde user has not services or no ----------------->

  <div *ngIf="isService === false else anotder">
    You don't have services
  </div>
  <!-------------- end check if tde user has not services or no ----------------->
  <!-------------- start check if tde user has services ----------------->
  <ng-template #anotder>
    <!-------------------- start div for table-responsive ------------------>
    <div class="table-responsive">
      <!-------------------- start table ------------------>
      <table class="table table-bordered">
        <!-------------------- start table head ------------------>
        <thead class="table-secondary">
          <!-------------------- start table head tr ------------------>
          <tr>
              <th scope="col">Time</th>
            <th scope="col">Voucher ID</th>

            <th scope="col">Service type</th>
            <th scope="col">Duration</th>
            <th scope="col">Bandwidth</th>
            <th scope="col">Amount</th>
            <th scope="col">Calculation</th>
            <th scope="col">Actions</th>

          </tr>
          <!-------------------- end table head tr ------------------>
        </thead>
        <!-------------------- end table head ------------------>

        <!-------------------- start table body ------------------>
        <tbody>
          <!-------------------- start loop for services ------------------>
          <tr *ngFor="let service of services">
              <th>{{service.Time | date}} <br> {{service.Time | date:'mediumTime'}}</th>
            <td>{{service.VoutcherId}}</td>
            <td>{{service.SeviceType}}</td>
            <td>{{service.Duration}}
              <div *ngIf="service.Day === true" style="display: inline-block;">Days</div>
              <div *ngIf="service.Day === false" style="display: inline-block;">Minutes</div>
            </td>
            <td>{{service.Bandwidth}}

              <div *ngIf="service.Mbytes === true" style="display: inline-block;">Mbytes</div>
              <div *ngIf="service.Mbytes === false" style="display: inline-block;">Kilobytes</div>
            </td>
            <td>{{service.Amount}}</td>
            <td>{{service.Calculation}}</td>
            <td>
              <div class="text-center">
                <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal"
                  (click)="getConsum(service.VoutcherId)">Check Consumption</button>
              </div>
            </td>
            <!-------------------- start check consumption modal ------------------>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <!-------------------- start check consumption modal dialog ------------------>
              <div class="modal-dialog" role="document">
                <!-------------------- start check consumption modal content ------------------>
                <div class="modal-content">
                  <!-------------------- start check consumption modal body ------------------>
                  <div class="modal-body">
                    <h4><span>Id : </span> {{service.VoutcherId}}</h4>
                    <h4><span>Create time : </span>{{service.Time | date}} {{service.Time | date:'mediumTime'}}</h4>
                    <p
                      style="font-size: 18px;text-align: center;margin: 0;padding: 0;color: #01458d;font-weight: bold;">
                      {{check_string}}</p>
                  </div>
                  <!-------------------- end check consumption modal body ------------------>
                </div>
                <!-------------------- end check consumption modal content ------------------>
              </div>
              <!-------------------- end check consumption modal dialog ------------------>
            </div>
            <!-------------------- end check consumption modal ------------------>
          </tr>
          <!-------------------- end loop for transactions ------------------>
        </tbody>
        <!-------------------- end table body ------------------>
      </table>
      <!-------------------- end table ------------------>
      <!-------------------- start pagination ------------------>
      <div class="text-center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <!-------------------- end pagination ------------------>
    </div>
    <!-------------------- end div for table-responsive ------------------>
  </ng-template>
  <!-------------- end check if tde user has services ----------------->
  <!-------------- end check if tde user has services or no ----------------->
</div>
<!-------------- end services content ----------------->