<!-------------- start add token header ----------------->
<div class="top">
  <!-------------- start add token title ----------------->
  <div class="d-flex">
    <h4>Add Token</h4>
  </div>
  <!-------------- end add token title ----------------->
</div>
<!-------------- end add token header ----------------->

<!-------------------- start add token content ------------------>
<div class="content">
  <!-------------------- start add token form ------------------>
  <form #addTokenForm="ngForm" (ngSubmit)="OnSubmit(addTokenForm)">
    <!-------------------- start token name ------------------>
    <div class="row">
      <!-------------------- start token name label------------------>
      <div class="col-md-2">
        <!-------------------- token name label------------------>
        <label>Token Name</label> <span class="astric">*</span>
      </div>
      <!-------------------- end token name label------------------>
      <!-------------------- start token name input------------------>
      <div class="col-md-10">
        <!-------------------- start token name input group------------------>
        <div class="input-group">
          <!-------------------- token name input ------------------>
          <input class="form-control" style="border-radius: 20px !important;margin-bottom: 20px;" name="name"
            #name="ngModel" [(ngModel)]="tokenDetails.name" pattern="^[أ-يa-z0-9 ]{9,29}$"
            placeholder="Enter token name" maxlength="20">

        </div>
        <!-------------------- end token name input group------------------>
        <!-----  start error when token name has speial characters -------->
        <div style="display: none;">{{set_special_amonnt3()}}</div>


        <div class="special_charchers" *ngFor="let special_charchter of special_charchters;let i=index;">

          <nb-alert class="custom-alert" status="danger"
            *ngIf="name.touched && tokenDetails.name.indexOf(special_charchter) !== -1 && 1>get_special_amount3()">

            <div style="display: none;">{{increment_special_amount3()}}</div><br>

            <div>
              Token name should not contain special characters <br><span
                style="text-align: right !important;float: right;"> الاسم يجب ان لا يحتوى على رموز خاصة</span> </div>
          </nb-alert>

        </div>
        <!-----  end error when token name has speial characters -------->
      </div>
      <!-------------------- end token name input------------------>
    </div>
    <!-------------------- end token name ------------------>

    <!-------------------- start token sybmbol ------------------>
    <div class="row">
      <!-------------------- start token sybmbol label------------------>
      <div class="col-md-2">
        <!-------------------- token sybmbol label------------------>
        <label>Token Symbol</label> <span class="astric">*</span>
      </div>
      <!-------------------- end token sybmbol label------------------>
      <!-------------------- start token sybmbol input------------------>
      <div class="col-md-10">
        <!-------------------- start token sybmbol input group------------------>
        <div class="input-group">
          <!-------------------- token sybmbol input ------------------>
          <input class="form-control" style="border-radius: 20px !important;margin-bottom: 20px;" name="symbol"
            #symbol="ngModel" [(ngModel)]="tokenDetails.symbol" placeholder="Enter token symbol" maxlength="4">
        </div>
        <!-------------------- end token sybmbol input group------------------>

      </div>
      <!-------------------- end token sybmbol input------------------>
    </div>
    <!-------------------- end token sybmbol ------------------>

    <!-------------------- start token url ------------------>
    <div class="row">
      <!-------------------- start token name url------------------>
      <div class="col-md-2">
        <!-------------------- token name url------------------>
        <label>Icon URL</label>
      </div>
      <!-------------------- end token name url------------------>
      <!-------------------- start token url input------------------>
      <div class="col-md-10">
        <!-------------------- start token url input group------------------>
        <div class="input-group">
          <!-------------------- token url input ------------------>
          <input class="form-control" type="file" style="border-radius: 20px !important;margin-bottom: 20px;"
            name="icon" #icon="ngModel" [(ngModel)]="tokenDetails.icon" accept="image/*" (change)="picked($event)">
        </div>
        <!-------------------- end token url input group------------------>
      </div>
      <!-------------------- end token url input------------------>
    </div>
    <!-------------------- end token url ------------------>

    <!-------------------- start token total supply ------------------>
    <div class="row">
      <!-------------------- start token total supply label------------------>
      <div class="col-md-2">
        <!-------------------- token total supply label------------------>
        <label>Tokens Total Supply</label> <span class="astric">*</span>
      </div>
      <!-------------------- end token total supply label------------------>
      <!-------------------- start token total supply input------------------>
      <div class="col-md-10">
        <!-------------------- start token total supply input group------------------>
        <div class="input-group">
          <!-------------------- token total supply input ------------------>
          <input class="form-control" type="number" style="border-radius: 20px !important;margin-bottom: 20px;"
            name="TokensTotalSupply" #TokensTotalSupply="ngModel" [(ngModel)]="tokenDetails.TokensTotalSupply"
             min="1">
        </div>
        <!-------------------- end token total supply input group------------------>
      </div>
      <!-------------------- end token total supply input------------------>
    </div>
    <!-------------------- end token total supply ------------------>

    <!-------------------- start token value ------------------>
    <div class="row">
      <!-------------------- start token value label------------------>
      <div class="col-md-2">
        <!-------------------- token value label------------------>
        <label>Token Value</label> <span class="astric">*</span>
      </div>
      <!-------------------- end token value label------------------>
      <!-------------------- start token value input------------------>
      <div class="col-md-10">
        <!-------------------- start token value input group------------------>
        <div class="input-group">
          <!-------------------- token value input ------------------>
          <input class="form-control" type="number" style="border-radius: 20px !important;margin-bottom: 20px;"
            name="TokenValue" #TokenValue="ngModel" [(ngModel)]="tokenDetails.TokenValue"
            placeholder="Enter token Initiator Address">

        </div>
        <!-------------------- end token value input group------------------>
      </div>
      <!-------------------- end token value input------------------>
    </div>
    <!-------------------- end token value ------------------>

    <!-------------------- end token reissuability ------------------>
    <div class="row">
      <!-------------------- start token reissuability label------------------>
      <div class="col-md-2">
        <!-------------------- token reissuability label------------------>
        <label>Token Reissuability</label> <span class="astric">*</span>
      </div>
      <!-------------------- end token reissuability label------------------>
      <!-------------------- start token reissuability input------------------>
      <div class="col-md-10">
        <!-------------------- start token reissuability input group------------------>
        <div class="input-group">
          <!-------------------- token reissuability select ------------------>
          <select class="form-control" name="Reissuability" #Reissuability="ngModel"
            [(ngModel)]="tokenDetails.Reissuability" style="border-radius: 20px !important;margin-bottom: 20px;">
            <option *ngFor="let ReissuabilityOption of ReissuabilityOptions">{{ReissuabilityOption.name}}</option>
          </select>

        </div>
        <!-------------------- end token reissuability input group------------------>
      </div>
      <!-------------------- end token reissuability input------------------>
    </div>
    <!-------------------- start token reissuability ------------------>

    <!-------------------- start token precision ------------------>
    <div class="row">
      <!-------------------- start token precision label------------------>
      <div class="col-md-2">
        <!-------------------- token precision label------------------>
        <label>Token Precision</label>
      </div>
      <!-------------------- end token precision label------------------>

      <!-------------------- start token precision input------------------>
      <div class="col-md-10">
        <!-------------------- start token precision input group------------------>
        <div class="input-group">
          <!-------------------- token precision input ------------------>
          <input class="form-control" type="number" style="border-radius: 20px !important;margin-bottom: 20px;"
            name="Precision" #Precision="ngModel" [(ngModel)]="tokenDetails.Precision"
            placeholder="Enter token Initiator Address">

        </div>
        <!-------------------- end token precision input group------------------>
      </div>
      <!-------------------- end token precision input------------------>
    </div>
    <!-------------------- end token precision ------------------>

    <!-------------------- start token usage type ------------------>
    <div class="row">
      <!-------------------- start token usage type label------------------>
      <div class="col-md-2">
        <!-------------------- token usage type label------------------>
        <label>Token Usage Type</label> <span class="astric">*</span>
      </div>
      <!-------------------- end token usage type label------------------>
      <!-------------------- start token usage type input------------------>
      <div class="col-md-10">
        <!-------------------- end token usage type input group------------------>
        <div class="input-group">
          <!-------------------- token usage type input ------------------>
          <select class="form-control" name="UsageType" #UsageType="ngModel" [(ngModel)]="tokenDetails.UsageType"
            style="border-radius: 20px !important;margin-bottom: 20px;">
            <option *ngFor="let usageTypeOption of usageTypeOptions">{{usageTypeOption.name}}</option>
          </select>
        </div>
        <!-------------------- end token usage type input group------------------>
      </div>
      <!-------------------- end token usage type input------------------>
    </div>
    <!-------------------- end token usage type ------------------>

    <!-------------------- start token type ------------------>
    <div class="row">
      <!-------------------- start token type label------------------>
      <div class="col-md-2">
        <!-------------------- token type label------------------>
        <label>Token Type</label> <span class="astric">*</span>
      </div>
      <!-------------------- end token type label------------------>
      <!-------------------- start token type input------------------>
      <div class="col-md-10">
        <!-------------------- start token type input group------------------>
        <div class="input-group">
          <!-------------------- token type input ------------------>
          <select class="form-control" name="TokenType" #TokenType="ngModel" [(ngModel)]="tokenDetails.TokenType"
            style="border-radius: 20px !important;margin-bottom: 20px;">
            <option *ngFor="let tokenTypeOption of tokenTypeOptions">{{tokenTypeOption.name}}</option>

          </select>
        </div>
        <!-------------------- end token type input group------------------>
      </div>
      <!-------------------- end token type input------------------>
    </div>
    <!-------------------- end token type ------------------>

    <!-------------------- start token contract id ------------------>
    <div class="row" *ngIf="tokenDetails.TokenType === 'public'">
      <!-------------------- start token contract id label------------------>
      <div class="col-md-2">
        <!-------------------- token contract id label------------------>
        <label>Token Contract ID</label> <span class="astric">*</span>
      </div>
      <!-------------------- end token contract id label------------------>
      <!-------------------- start token contract id input------------------>
      <div class="col-md-10">
        <!-------------------- start token contract id input group------------------>
        <div class="input-group">
          <!-------------------- token contract id input ------------------>
          <input class="form-control" type="text" style="border-radius: 20px !important;margin-bottom: 20px;"
            name="ContractID" #ContractID="ngModel" [(ngModel)]="tokenDetails.ContractID"
            placeholder="Enter token contract iD">

        </div>
        <!-------------------- end token contract id input group------------------>
      </div>
      <!-------------------- end token contract id input------------------>
    </div>
    <!-------------------- end token contract id ------------------>

    <!-------------------- start token user public key ------------------>
    <div class="ip-list" id="ip_list" *ngIf="tokenDetails.TokenType === 'private'">
      <!-------------------- start token user public keys------------------>
      <div class="ip-input">
        <div class="row">
          <!-------------------- start token user public key label------------------>
          <div class="col-md-2">
            <!-------------------- token user public key label------------------>
            <label>User Public Key</label> <span class="astric">*</span>
          </div>
          <!-------------------- end token user public key label------------------>
          <!-------------------- start token user public key input------------------>
          <div class="col-md-8">
            <!-------------------- start token user public key input group------------------>
            <div class="ip">
              <!-------------------- token user public key input ------------------>
              <div class="input" style="position:relative !important;">
                <input type="text" placeholder="Enter user public key" name="byte[]" class="form-control"
                  style="border-radius: 20px !important;margin-bottom: 20px;">

              </div>
              <!-------------------- token user public key input ------------------>
              <!-------------------- token user public key input ------------------>
            </div>
            <!-------------------- start token user public key input group------------------>
          </div>
          <!-------------------- start token plus button------------------>
          <div class="col-md-2">
            <!--------------------  token plus button------------------>

            <div class="btn-add-ip" (click)="addPK()" style="height: 45px;
            background: transparent;
            border: 1px solid #ddd;
            width: 65%;
            text-align: center;
            line-height: 45px;
            color: #000;
            border-radius: 10px;
            cursor: pointer;
            font-size: 18px;">
              <a class=" ">+</a>
            </div>
            <!--------------------  token plus button------------------>
          </div>
          <!-------------------- end token plus input------------------>
        </div>
      </div>
      <!-------------------- end token user public keys------------------>
    </div>
    <!-------------------- end token user public key ------------------>

    <!-------------------- start token dynamic price ------------------>
    <div class="row">
      <!-------------------- start token dynamic price label------------------>
      <div class="col-md-2">
        <!-------------------- token dynamic price label------------------>
        <label>Token Dynamic Price</label>
      </div>
      <!-------------------- end token dynamic price label------------------>
      <!-------------------- start token dynamic price input------------------>
      <div class="col-md-10">
        <!-------------------- start token dynamic price input group------------------>
        <div class="input-group">
          <!-------------------- token dynamic price input ------------------>
          <input class="form-control" type="number" style="border-radius: 20px !important;margin-bottom: 20px;"
            name="Dynamicprice" #Dynamicprice="ngModel" [(ngModel)]="tokenDetails.Dynamicprice"
            placeholder="Enter token Initiator Address">
        </div>
        <!-------------------- end token dynamic price input group------------------>
      </div>
      <!-------------------- end token dynamic price input------------------>
    </div>
    <!-------------------- end token dynamic price ------------------>

    <!-------------------- start token value dynamic ------------------>
    <div class="row">
      <!-------------------- start token value dynamic label------------------>
      <div class="col-md-2">
        <!-------------------- token value dynamic label------------------>
        <label>Token Value Dynamic</label>
      </div>
      <!-------------------- end token value dynamic label------------------>
      <!-------------------- start token value dynamic input------------------>
      <div class="col-md-10">
        <!-------------------- start token sybmbol value dynamic group------------------>
        <div class="input-group">
          <!-------------------- token sybmbol select ------------------>
          <select class="form-control" name="ValueDynamic" #ValueDynamic="ngModel"
            [(ngModel)]="tokenDetails.ValueDynamic" style="border-radius: 20px !important;margin-bottom: 20px;">
            <option *ngFor="let valueDynamicOption of valueDynamicOptions">{{valueDynamicOption.name}}</option>

          </select>

        </div>
        <!-------------------- end token value dynamic input group------------------>
      </div>
      <!-------------------- end token value dynamic input------------------>
    </div>
    <!-------------------- end token value dynamic ------------------>

    <!-------------------- start token description ------------------>
    <div class="row">
      <!-------------------- start token description label------------------>
      <div class="col-md-2">
        <!-------------------- token decription label------------------>
        <label>Description</label>
      </div>
      <!-------------------- end token description label------------------>
      <!-------------------- start token description input------------------>
      <div class="col-md-10">
        <!-------------------- start token description input group------------------>
        <div class="input-group">
          <!-------------------- token description input ------------------>
          <textarea class="form-control" placeholder="enter token description" name="Description" #Description="ngModel"
            [(ngModel)]="tokenDetails.Description" style="border-radius: 20px !important;margin-bottom: 20px;" rows="5">

              </textarea>
        </div>
        <!-------------------- end token description input group------------------>
      </div>
      <!-------------------- end token description input------------------>
    </div>
    <!-------------------- end token description ------------------>
    <!------- start button submit ---------->
    <div class="float-right">
      <!------- button submit ---------->
      <button class="add_token save" type="submit" style="margin-bottom: 0 !important">Save</button>
    </div>
    <!------- end button submit ---------->
    <div class="clearfix"></div>

  </form>
  <!-------------------- end add token form ------------------>
</div>
<!-------------------- end add token content ------------------>