<!-------------- start check if not service then show send transaction page ----------------->
<div *ngIf="isService === false">
  <!-------------- start send transaction header ----------------->
  <div class="top">
    <!-------------- start send transaction title ----------------->
    <div class="d-flex">
      <h4>Send</h4>
    </div>
    <!-------------- end send transaction title ----------------->
  </div>
  <!-------------- end send transaction header ----------------->
  <!-------------- start send transaction content ----------------->
  <div class="content" style="padding: 10px 20px;" id="send">
    <!-------------- start row div ----------------->
    <div class="row">
      <!-------------- start ng card body for send transaction ----------------->
      <nb-card-body>
        <!-------------- start send transaction form ----------------->
        <form #sendDetailsForm="ngForm" (ngSubmit)="OnSubmit(sendDetailsForm)">
          <!-------------------- start sender public key ------------------>
          <div class="row">
            <!-------------------- start sender public key label ------------------>
            <div class="col-md-2">
              <!-------------------- sender public key label ------------------>
              <label>Sender Public Key</label>
            </div>
            <!-------------------- end sender public key label ------------------>

            <!-------------------- start sender public key input ------------------>
            <div class="col-md-10">
              <!-------------------- start sender public key input group ------------------>
              <div class="input-group">
                <!-------------------- sender public key input ------------------>
                <textarea disabled class="form-control"
                  style="resize:none;overflow: hidden;height: auto;border-radius: 20px !important;margin-bottom: 20px;"
                  value="{{senderDetails.PublicKey}}"></textarea>
              </div>
              <!-------------------- end sender public key input group ------------------>
            </div>
            <!-------------------- end sender public key input ------------------>
          </div>
          <!-------------------- end sender public key ------------------>

          <!-------------------- start reciever public key ------------------>
          <div class="row">
            <!-------------------- start reciever public key label ------------------>
            <div class="col-md-2">
              <!-------------------- reciever public key label ------------------>
              <label>Receiver Public Key</label> <span class="astric">*</span>
            </div>
            <!-------------------- end reciever public key label ------------------>
            <!-------------------- start reciever public key input ------------------>
            <div class="col-md-10">
              <!-------------------- start reciever public key input group ------------------>
              <div class="input-group">
                <!-------------------- start reciever public key input class ------------------>
                <div class="input" style="width: 100%; position: relative;">
                  <!-------------------- reciever public key input ------------------>
                  <textarea type="text" class="form-control"
                    style="resize:none;overflow: hidden;height: auto;border-radius: 20px !important;margin-bottom: 20px;"
                    value="{{receiverDetails.PublicKey}}"></textarea>
                  <!-------------------- start search button ------------------>
                  <button type="button" title="search for receiver public key"
                    class="btn btn-primary modal_btn  ml-3 mr-3" style="background: transparent;padding:0;cursor: pointer; right:35px;height: auto;top:10px;position: absolute
                  " data-toggle="modal" data-target="#exampleModal">
                    <img src="../../../assets/images/keyword-search.png" style="width: 23px;margin-top: -8px;">
                  </button>
                  <!-------------------- end search button ------------------>
                </div>
                <!-------------------- end reciever public key input class ------------------>

              </div>
              <!-------------------- end reciever public key input group ------------------>
            </div>
            <!-------------------- end reciever public key input ------------------>
          </div>
          <!-------------------- end reciever public key ------------------>

          <!-------------------- start token name ------------------>
          <div class="row">
            <!-------------------- start token name label------------------>
            <div class="col-md-2">
              <!-------------------- token name label------------------>
              <label>Token Name</label> <span class="astric">*</span>
            </div>
            <!-------------------- end token name label------------------>
            <!-------------------- start token name input------------------>
            <div class="col-md-10">
              <!-------------------- start token name input group ------------------>
              <div class="input-group">
                <!-------------------- start token name select ------------------>
                <select class="form-control" name="token_id" #token_id="ngModel" [(ngModel)]="sendDetails.token_id"
                  placeholder="Enter Amount" type="text" required (change)="save($event.target.value)"
                  style="border-radius: 20px !important;margin-bottom: 20px;">
                  <option>Please choose token Name</option>
                  <option [value]="ino_token">InoToken</option>
                  <option *ngFor="let token_id of token_ids" [value]="token_id.TokenID">{{token_id.TokenName}}</option>
                </select>
                <!-------------------- end token name select ------------------>
              </div>
              <!-------------------- end token name input group ------------------>
            </div>
            <!-------------------- end token name input------------------>
          </div>
          <!-------------------- end token name------------------>

          <!-------------------- start amount ------------------>
          <div class="row">
            <!-------------------- start amount label ------------------>
            <div class="col-md-2">
              <!-------------------- amount label ------------------>
              <label>Amount</label><span class="astric">*</span>
            </div>
            <!-------------------- end amount label ------------------>
            <!-------------------- start amount input ------------------>
            <div class="col-md-10">
              <!-------------------- start amount input group ------------------>
              <div class="input-group">
                <!-------------------- amount input ------------------>
                <input class="form-control" name="Amount" #Amount="ngModel" [(ngModel)]="sendDetails.Amount"
                  placeholder="Enter Amount" type="text" required
                  style="border-radius: 20px !important;margin-bottom: 20px;" />
              </div>
              <!-------------------- end amount input group ------------------>
            </div>
            <!-------------------- end amount input ------------------>
          </div>
          <!-------------------- end amount ------------------>

          <!-------------------- start upload private key ------------------>
          <div class="row">
            <!-------------------- start upload private key label ------------------>
            <div class="col-md-2">
              <!-------------------- upload private key label ------------------>
              <label>upload private key file</label><span class="astric">*</span>
            </div>
            <!-------------------- end upload private key label ------------------>
            <!-------------------- start upload private key input ------------------>
            <div class="col-md-10">
              <!-------------------- start upload private key input group ------------------>
              <div class="input-group" style="margin-bottom: 20px;">
                <!-------------------- upload private key input ------------------>
                <input class="form-control" name="priv_file" #priv_file="ngModel" [(ngModel)]="sendDetails.priv_file"
                  type="file" required style="border-radius: 20px !important;display: inline;"
                  (change)="onChange($event.target.files)" />
              </div>
              <!-------------------- end upload private key input group ------------------>
            </div>
            <!-------------------- end upload private key input ------------------>
          </div>
          <!-------------------- end upload private key ------------------>

          <!------- start button submit ---------->
          <div class="float-right">
            <!------- button submit ---------->
            <button class="save_btn">Send</button>
          </div>
          <!------- end button submit ---------->
        </form>
        <!-------------- end send transaction form ----------------->

      </nb-card-body>
      <!-------------- end ng card body for send transaction ----------------->
    </div>
    <!-------------- end row div ----------------->
  </div>
  <!-------------- end send transaction content ----------------->
</div>
<!-------------- end check if not service then show send transaction page ----------------->

<!-------------- start check if service then show purchase service page ----------------->
<div *ngIf="isService === true">
  <!-------------- start purchase service header ----------------->
  <div class="top">
    <!-------------- start purchase service title ----------------->
    <div class="d-flex">
      <h4>Puchase Service</h4>
    </div>
    <!-------------- end purchase service title ----------------->
  </div>
  <!-------------- end purchase service header ----------------->
  <!-------------- start purchase service content ----------------->
  <div class="content" style="padding: 10px 20px;" id="send">
    <!-------------- start row div ----------------->
    <div class="row">
      <!-------------- start ng card body for purchase service ----------------->
      <nb-card-body>
        <!-------------- start purchase service form ----------------->
        <form #purchaseForm="ngForm" (ngSubmit)="purchase_service(purchaseForm)">
          <!-------------------- start service id ------------------>
          <div class="row">
            <!-------------------- start service id label ------------------>
            <div class="col-md-2">
              <!-------------------- service id label ------------------>
              <label>Id</label>
            </div>
            <!-------------------- end service id label ------------------>

            <!-------------------- start service id input ------------------>
            <div class="col-md-10">
              <!-------------------- start service id input group ------------------>
              <div class="input-group">
                <input disabled class="form-control" value="{{service_id}}"
                  style="border-radius: 20px !important;margin-bottom: 20px;">

              </div>
              <!-------------------- end service id input group ------------------>
            </div>
            <!-------------------- end service id input ------------------>
          </div>
          <!-------------------- end service id ------------------>

          <!-------------------- start reciever public key ------------------>
          <div class="row">
            <!-------------------- start reciever public key label ------------------>
            <div class="col-md-2">
              <!-------------------- reciever public key label ------------------>
              <label>Receiver Public Key</label><span class="astric">*</span>
            </div>
            <!-------------------- end reciever public key label ------------------>
            <!-------------------- start reciever public key input ------------------>
            <div class="col-md-10">
              <!-------------------- start reciever public key input group ------------------>
              <div class="input-group">
                <!-------------------- start reciever public key input class ------------------>
                <div class="input" style="width: 100%; position: relative;">
                  <!-------------------- reciever public key input ------------------>
                  <textarea type="text" class="form-control"
                    style="resize:none;overflow: hidden;height: auto;border-radius: 20px !important;margin-bottom: 20px;"
                    value="{{receiverDetails2.PublicKey}}"></textarea>
                  <!-------------------- start search button ------------------>
                  <button type="button" title="search for receiver public key"
                    class="btn btn-primary modal_btn  ml-3 mr-3" style="background: transparent;padding:0;cursor: pointer; right:35px;height: auto;top:10px;position: absolute
                  " data-toggle="modal" data-target="#exampleModal2">
                    <img src="../../../assets/images/keyword-search.png" style="width: 23px;margin-top: -8px;">
                  </button>
                  <!-------------------- end search button ------------------>
                </div>
                <!-------------------- end reciever public key input class ------------------>
              </div>
              <!-------------------- end reciever public key input group ------------------>
            </div>
            <!-------------------- end reciever public key input ------------------>
          </div>
          <!-------------------- end reciever public key ------------------>

          <!-------------------- start amount ------------------>
          <div class="row">
            <!-------------------- start amount label ------------------>
            <div class="col-md-2">
              <!-------------------- amount label ------------------>
              <label>Amount</label>
            </div>
            <!-------------------- end amount label ------------------>
            <!-------------------- start amount input ------------------>
            <div class="col-md-10">
              <!-------------------- start amount input group ------------------>
              <div class="input-group">
                <!--------------------  amount input  ------------------>
                <input class="form-control" disabled value="{{amount_service}}"
                  style="border-radius: 20px !important;margin-bottom: 20px;" />
              </div>
              <!-------------------- end amount input group ------------------>
            </div>
            <!-------------------- end amount input ------------------>
          </div>
          <!-------------------- end amount ------------------>

          <!-------------------- start upload private key ------------------>
          <div class="row">
            <!-------------------- start upload private key label ------------------>
            <div class="col-md-2">
              <!-------------------- upload private key label ------------------>
              <label>upload private key file</label><span class="astric">*</span>
            </div>
            <!-------------------- end upload private key label ------------------>
            <!-------------------- start upload private key input ------------------>
            <div class="col-md-10">
              <!-------------------- start upload private key input group ------------------>
              <div class="input-group" style="margin-bottom: 20px;">
                <!-------------------- upload private key input ------------------>
                <input class="form-control" name="priv_file" #priv_file="ngModel" [(ngModel)]="sendDetails.priv_file"
                  type="file" required style="border-radius: 20px !important;display: inline;"
                  (change)="onChange($event.target.files)" />
              </div>
              <!-------------------- end upload private key input group ------------------>
            </div>
            <!-------------------- end upload private key input ------------------>
          </div>
          <!-------------------- end upload private key ------------------>
          <!------- start button submit ---------->
          <div class="float-right">
            <!------- button submit ---------->
            <button class="save_btn">Send</button>
            <button type="submit" class="save_btn" (click)="removeService()">Cancel</button>
          </div>
          <!------- end button submit ---------->
        </form>
        <!-------------- end purchase service form ----------------->

      </nb-card-body>
      <!-------------- end ng card body for purchase service ----------------->
    </div>
    <!-------------- end row div ----------------->
  </div>
  <!-------------- end purchase service content ----------------->
</div>
<!-------------- end check if service then show purchase service page ----------------->

<!------------------------------------------------------------------------------------->

<!------- start search modal for send transaction ---------->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <!------- start modal dialog for send transaction ---------->
  <div class="modal-dialog" role="document">
    <!------- start modal content for send transaction ---------->
    <div class="modal-content">
      <!------- start modal header for send transaction ---------->
      <div class="modal-header">
        <!------- modal header for send transaction ---------->
        <h5 class="modal-title" id="exampleModalLabel" style="color:#fff;">Public Key Search</h5>
        <!------- start modal close button for send transaction ---------->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#fff;opacity: 1;">
          <span aria-hidden="true">&times;</span>
        </button>
        <!------- end modal close button for send transaction ---------->
      </div>
      <!------- end modal header for send transaction ---------->

      <!------- start modal body for send transaction ---------->
      <div class="modal-body">
        <!------- start search form for send transaction ---------->
        <form #searchForm="ngForm" (ngSubmit)="onSearch(searchForm)">
          <!------- start search input for send transaction ---------->
          <div class="input">
            <!------- search icon for send transaction  ---------->
            <i class="eva eva-person"></i>
            <!------- search input for send transaction ---------->
            <input type="text" placeholder="Enter receiver user name" class="form-control"
              [(ngModel)]="searchDetails.searchText" name="searchText" #searchText="ngModel">
          </div>
          <!------- end search for send transaction input  ---------->
          <!------- start search for send transaction buttons  ---------->
          <div class="buttons">
            <div class="d-flex">
              <!------- start search for send transaction button  ---------->
              <div class="button-group">
                <button type="submit" class="send_btn">Search</button>
              </div>
              <!------- end search for send transaction button  ---------->
              <!------- start cancel for send transaction button  ---------->
              <div class="button2-group">
                <button type="button" data-dismiss="modal" class="cancel_btn">Cancel</button>
              </div>
              <!------- end cancel for send transaction button  ---------->
            </div>
          </div>
          <!------- end search for send transaction buttons  ---------->
        </form>
        <!------- end search form for send transaction ---------->
      </div>
      <!------- end modal body for send transaction ---------->
    </div>
    <!------- end modal content for send transaction ---------->
  </div>
  <!------- end modal dialog for send transaction ---------->
</div>
<!------- end search modal for send transaction ---------->

<!----------------------------------------------------------------------->

<!------- start search modal for purchase service for send ---------->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <!------- start modal body for purchase service ---------->
  <div class="modal-dialog" role="document">
    <!------- start modal content for purchase service ---------->
    <div class="modal-content">
      <!------- start modal header for purchase service ---------->
      <div class="modal-header">
        <!------- modal header for purchase service ---------->
        <h5 class="modal-title" id="exampleModalLabel" style="color:#fff;">Public Key Search</h5>
        <!------- start modal close button for purchase service ---------->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#fff;opacity: 1;">
          <span aria-hidden="true">&times;</span>
        </button>
        <!------- end modal close button for purchase service ---------->
      </div>
      <!------- end modal header for purchase service ---------->

      <!------- start modal body for purchase service ---------->
      <div class="modal-body">
        <!------- start search form for purchase service ---------->
        <form #searchForm2="ngForm" (ngSubmit)="onSearch2(searchForm2)">
          <!------- start search input for purchase service ---------->
          <div class="input">
            <!------- search icon for purchase service  ---------->
            <i class="eva eva-person"></i>
            <!------- search input for send transaction ---------->
            <input type="text" class="form-control" disabled [(ngModel)]="search2Details.searchText2" name="searchText2"
              #searchText2="ngModel">
          </div>
          <!------- end search input for purchase service ---------->
          <!------- start search for purchase service buttons  ---------->
          <div class="buttons">
            <div class="d-flex">
              <!------- start search for purchase service button  ---------->
              <div class="button-group">
                <button type="submit" class="send_btn">Search</button>
              </div>
              <!------- end search for purchase service button  ---------->
              <!------- start cancel for purchase service button  ---------->
              <div class="button2-group">
                <button type="button" data-dismiss="modal" class="cancel_btn">Cancel</button>
              </div>
              <!------- end cancel for purchase service button  ---------->
            </div>
          </div>
          <!------- end search for purchase service buttons  ---------->
        </form>
        <!------- end search form for purchase service ---------->
      </div>
      <!------- end modal body for purchase service ---------->
    </div>
    <!------- end modal content for purchase service ---------->
  </div>
  <!------- end modal dialog for purchase service ---------->
</div>
<!------- end search modal for purchase service ---------->