@import '../@theme/styles/themes';

@include nb-install-component() {
  /deep/ router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}

.content form span.astric,
.content form span.astric{
  
  font-size: 17px;
  color: #f00;
  margin-left: 5px;
}

.content .description{
  font-size: 14px;
  line-height: 30px;
}

.nb-theme-corporate .menu-item .menu-icon {
  font-size: 16px !important;
}

.content img.img{
  border: 1px solid #ddd;
  border-radius: 10px;
}

.content{
  background: #fff;
  padding: 20px;
  border-radius: 3px;
border-top: 3px solid #01458d;
}


.dropbtn[_ngcontent-c11]{
    background: transparent;
}

.country-name[_ngcontent-c11] {
  margin-left: 6px;
  font-size: 14px;
}

.table-secondary, .table-secondary > th, .table-secondary > td {
  background-color: #01458d;
  color: #fff;
}

.table-secondary tr th{
  color: #fff;

}

.page-item .page-link {
  color: #000;
  padding: 10px;
  pointer-events: none;
  cursor: pointer;
  background-color: #fff;
  border-color: #dee2e6;
}

.page-item.active .page-link{
  background-color: #01458d;
color:#fff;
}

.page-item{
  width: 30px;
}

.page-item.first{
  border-top-left-radius : 20px;
  border-bottom-left-radius : 20px;

}

.page-item.last{
  border-top-right-radius : 20px;
  border-bottom-right-radius : 20px;

}

.top{
  position: relative;
}

.breadcrumb_sec{
  position: absolute;
right: 0;
}

.breadcrumb{
  background: transparent;
  padding : 0;
  font-size: 12px !important;

}

.content form .input{
  position: relative;
}

.content form .input .toggle-password{
  position: absolute;
    top: 25%;
    right: 2%;
    font-size: 20px;
    color: #01458d;
}

.tooltip_btn{
  position: absolute;
  border: 0;
  right: -3%;
  top: 10%;
  cursor: pointer;
  border: 0;
}

.clearfix{
  clear: both;
}