<!-------------- start deactivate account header ----------------->
<div class="top">
  <!-------------- start deactivate account title ----------------->
  <div class="d-flex">
    <h4>Deactivate Account</h4>
  </div>
  <!-------------- end deactivate account title ----------------->
</div>
<!-------------- end deactivate account header ----------------->

<!-------------------- start deactivate account content ------------------>
<div class="content">
  <!-------------------- start deactivate account form ------------------>
  <form #deactivateAccountForm="ngForm">
    <!-------------------- start reason form group ------------------>
    <div class="form-group">
      <div class="row">
        <!-------------------- start reason label ------------------>
        <div class="col-md-2">
          <!-------------------- reason label ------------------>
          <label>Enter Your Reason</label>
        </div>
        <!-------------------- end reason label ------------------>
        <!-------------------- start reason input ------------------>
        <div class="col-md-10">
          <!-------------------- reason input ------------------>
          <input type="text" class="form-control" name="reason" placeholder="Reason" #reason="ngModel"
            [(ngModel)]="userDetails.reason">
        </div>
        <!-------------------- end reason input ------------------>
      </div>
      <!-------------------- end reason input ------------------>
    </div>
    <!-------------------- end reason form group ------------------>
    <!------- start button submit ---------->
    <div class="buttons float-right">
      <!------- button submit ---------->
      <button type="submit" (click)="deactivate_account(deactivateAccountForm)" class="save_btn">Deactivate</button>
    </div>
    <!------- end button submit ---------->

    <div class="clearfix"></div>
  </form>
  <!-------------------- end deactivate account form ------------------>
</div>
<!-------------------- end deactivate account content ------------------>