<div class="top">
  <div class="d-flex">
    <h4>Privacy policy</h4>

  </div>
</div>
<div class="content">
  <div class="row">
    <div class="col-md-8">
      <div class="description">
        <p>We've provided this policy to save your privacy and explain how we use, store, transfer your data
          information.</p>
        <p>A Privacy Policy is an important legal document that lets you understand the features that ask to use your
          personal information.</p>
        <p>Please read these policies carefully, and don't hesitate to contact us if you have any concerns or questions.
        </p>
        <h3 class="title">Use of Personal Information:</h3>
        <p><span>1- </span>Personal information is the data we collect through your interactions and experiences with
          our services.</p>
        <p><span>2- </span>The data we collect depends on the context of your interactions with Inochain that you make;
          when it comes to technology you have various choices.</p>
        <p><span>3- </span>You are not required to provide the personal information that we have requested, you can
          decline, but, if you chose not to do so, in many cases we will not be able to provide you with our services or
          respond to any queries you may have.</p>
        <h3 class="title">Personal information we collect:</h3>
        <p>When you create an account on our Digital Wallet, connect to our services, or contact us we may get a variety
          of information including your name, phone number, email address, address and IP address.</p>
        <h3 class="title">How we use your personal information:</h3>
        <p>Inochain uses the data we collect to provide you with rich, interactive experiences. In particular, we use
          data to:</p>
        <p><span>1- </span>Provide our services, which include updating, securing and troubleshooting, as well as
          providing support. It also includes sharing data, when it is required to provide the service or carry out the
          transactions you request.</p>
        <p><span>2- </span>Improve and develop our products.</p>
        <p><span>3- </span>Personalize our products and make recommendations.</p>
        <p>We also use the data to operate our business, which includes analyzing our performance and meeting our legal
          obligations.</p>
        <p>We may also use your personal information for account and network security purposes, including protecting our
          services for the benefit of all our users and pre-screening or scanning uploaded content for potentially
          illegal content.</p>
        <h3 class="title">Collection and Use of Non-Personal Information:</h3>
        <p>We may collect information regarding customer activities on our website. This information is aggregated and
          used to help us provide more useful information to our customers and to understand which parts of our website,
          products and services are of most interest.</p>
        <p>Aggregated data is considered non‑personal information for the purposes of this Privacy Policy.</p>
        <h3 class="title">Cookies and similar technologies:</h3>
        <p>Cookies are small text files placed on your device to store data that can be recalled by a web server in the
          domain that placed the cookie. We use cookies and similar technologies for storing and honoring your
          preferences and settings, enabling you to sign in, providing interest-based advertising, combating fraud,
          analyzing how our products perform and fulfilling other legitimate purposes. </p>
        <p>We treat information collected by cookies and other technologies as non-personal information. However, to the
          extent that Internet Protocol (IP) addresses or similar identifiers are considered personal information by
          local law, we also treat these identifiers as personal information.</p>
        <h3 class="title">Integrity and Retention of Personal Information:</h3>
        <p>Inochain makes it easy for you to keep your personal information accurate, complete and up to date.</p>
        <p>We will retain your personal information for the period necessary to fulfill the purposes outlined in this
          Privacy Policy and our service specific privacy summaries.</p>
        <p>When assessing these periods, we carefully examine our need to collect personal information at all and if we
          establish a relevant need, we only retain it for the shortest possible period to realize the purpose of
          collection unless a longer retention period is required by law.</p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="../../../assets/images/privacy-code.jpg" style="width:100%;" class="img">
    </div>
  </div>

</div>