.content h3.title{
    color:#01458d;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.content h3.sub-title{
    font-weight: 500;
    font-size: 16px;
}

.content p span{
    font-size: 16px;
    font-weight: bold;
    color: #01458d;
    margin-right: 10px;
}