<!-------- start register section ----------------->
<div class="form_section" style="padding:0 !important;">

  <!-------- start register title ----------------->
  <div class="title_sec">
    <!------ logo of inovatian --------->
    <img src="../../../assets/images/logo1.png" style="width: 300px;">
    <!------- title of register ---------->
    <p class="sub-title">Hello! Register with your email.</p>
  </div>
  <!-------- end register title ----------------->

  <!-------- start register box ----------------->
  <div class="reg-box-body">
    <!----- start register form ------------>
    <form #userRegistrationForm="ngForm">
      <!------- start username form group ---------->
      <div class="form-group">
        <!------- start username input ---------->
        <div class="input">
          <!------ username label -------------->
          <label>Username - اسم المستخدم</label> <span class="astric">*</span>
          <!---------- username input --------------->
          <input type="text" class="form-control" name="name" [(ngModel)]="userDetails.name" #name="ngModel"
            placeholder="Username - اسم المستخدم" required pattern="^[أ-يa-z0-9]{9,29}$" minlength="9" maxlength="29">
          <!----- start username tooltip -------->
          <span class="tooltip-danger">
            <!----- start button of username tooltip -------->
            <button type="button" style="border: 0;padding: 0;background: transparent;"
              class="btn btn-outline-secondary mr-2 tooltip_btn" placement="top"
              ngbTooltip="Username should not be less than 8 characters and without spaces. It should contain {letters and numbers only} - اسم المستخدم يجب ان يتكون من 8 حروف او اكثر بدون اى مسافات. يجب ان يحتوى على حروف وارقام  ">
              <!------ start icon of tooltip -------->
              <span class="question_mark">
                <i class="fa fa-question w3-animate-fading"></i>

              </span>
              <!------ end icon of tooltip -------->
            </button>
            <!----- end button of username tooltip -------->
          </span>
          <!----- end username tooltip -------->
        </div>
        <!------- end username input ---------->

        <!----- start username errors -------->
        <div>

          <!-----  start error when username less than 8 characters-------->
          <nb-alert class="custom-alert" class="custom-alert" status="danger"
            *ngIf="name.touched && name.invalid && name.errors.minlength">
            <div>Username should contain a minimum of 8 characters <br><span
                style="text-align: right !important;float: right;"> يجب ان يكون اسم المستخدم من 8 احرف على الاقل</span>
            </div>
          </nb-alert>
          <!-----  end error when username less than 8 characters-------->

          <!-----  start error when username has space -------->
          <nb-alert class="custom-alert" status="danger" *ngIf="name.touched && userDetails.name.indexOf(space) !== -1">
            <div> Username should not contain spaces <br> <span style="text-align: right !important;float: right;">اسم
                المستخدم
                يجب ان لا يحتوى على مسافات </span></div>
          </nb-alert>
          <!-----  end error when username has space -------->

          <!-----  start error when username has speial characters -------->

          <div>{{set_special_amonnt()}}</div>


          <div class="special_charchers" *ngFor="let special_charcher of special_charchters;let i=index;">

            <nb-alert class="custom-alert" status="danger"
              *ngIf="name.touched && userDetails.name.indexOf(special_charcher) !== -1 && 1>get_special_amount()">
              <div>{{increment_special_amount()}}</div><br>
              <div>
                Username should not contain special characters <br><span
                  style="text-align: right !important;float: right;"> اسم المستخدم يجب ان لا يحتوى على رموز خاصة</span>
              </div>
            </nb-alert>
          </div>
          <!-----  end error when username has speial characters -------->
        </div>
        <!----- end username errors -------->

      </div>
      <!------- end username form group ---------->

      <!------- start email form group ---------->
      <div class="form-group">
        <!------- start username input ---------->
        <div class="input">
          <!------ email label -------------->
          <label>Email - البريد الالكتروني</label> <span class="astric">*</span>
          <!---------- email input --------------->
          <input type="email" class="form-control" email name="emailAdd" required
            placeholder="Email - البريد الالكتروني" #emailAdd="ngModel" [(ngModel)]="userDetails.emailAdd">
          <!----- start email tooltip -------->
          <span class="tooltip-danger">
            <!----- start button of email tooltip -------->
            <button type="button" style="border: 0;padding: 0;background: transparent;"
              class="btn btn-outline-secondary mr-2 tooltip_btn" placement="top"
              ngbTooltip="Enter email address (ex: user@example.com) - ادخل  بريدك الالكترونى">
              <!------ start icon of tooltip -------->
              <span class="question_mark">
                <i class="fa fa-question w3-animate-fading"></i>

              </span>
              <!------ end icon of tooltip -------->
            </button>
            <!----- end button of email tooltip -------->
          </span>
          <!----- end email tooltip -------->
        </div>
        <!------- end email input ---------->

        <!----- start email errors -------->
        <div>
          <!-----  start error when email is invalid-------->
          <nb-alert status="danger" *ngIf="emailAdd.invalid && emailAdd.touched">
            <div class="emailAdd.errors?.email">Please enter a valid email <br><span
                style="text-align: right !important;float: right;"> برجاء إدخال بريد الكتروني صحيح </span></div>
          </nb-alert>
          <!-----  end error when email is invalid-------->

          <!-----  start error when email has speial characters -------->

          <div>{{set_special_amonnt2()}}</div>


          <div class="special_charchers" *ngFor="let special_charchter2 of special_charchters2;let i=index;">

            <nb-alert class="custom-alert" status="danger"
              *ngIf="emailAdd.touched && userDetails.emailAdd.indexOf(special_charchter2) !== -1 && 1>get_special_amount2()">

              <div>{{increment_special_amount2()}}</div><br>

              <div>
                Email should not contain special characters <br><span
                  style="text-align: right !important;float: right;">
                  البريد الالكترونى يجب ان لا يحتوى على رموز خاصة</span> </div>
            </nb-alert>
          </div>
          <!-----  end error when email has speial characters -------->
        </div>
        <!----- end email errors -------->
      </div>
      <!------- end email form group ---------->

      <!------- start phone number form group ---------->
      <div class="form-group">
        <!------- start phone number input ---------->
        <div class="input">
          <!------ phone number label -------------->
          <label>Phone number - رقم الهاتف</label> <span class="astric">*</span>
          <!---------- phone number input --------------->
          <int-phone-prefix type="phone" class="form-control phone_input" [(ngModel)]="userDetails.phone" name="phone"
            #phone="ngModel" ngModel pattern="^[0-9-+]+$"
            style="border:0;padding:0;background: #fff;border-radius: 20px;color:#495057;"></int-phone-prefix>
          <!----- start phone number tooltip -------->
          <span class="tooltip-danger">
            <!----- start button of phone number tooltip -------->
            <button type="button" style="border: 0;padding: 0;background: transparent;"
              class="btn btn-outline-secondary mr-2 tooltip_btn" placement="top"
              ngbTooltip="Phone number must contain the country code - رقم الهاتف يجب ان يحتوى على كود الدولة">
              <!------ start icon of tooltip -------->
              <span class="question_mark">
                <i class="fa fa-question w3-animate-fading"></i>

              </span>
              <!------ end icon of tooltip -------->
            </button>
            <!----- end button of phone number tooltip -------->
          </span>
          <!----- end phone number tooltip -------->
        </div>
        <!------- end phone number input ---------->

        <!----- start phone number errors -------->
        <div>
          <!-----  start error when phone number is not has country code-------->
          <nb-alert class="custom-alert" status="danger"
            *ngIf="phone.touched && userDetails.phone.indexOf(plus) === -1">
            <div> Phone number must contain the country code <br> <span
                style="text-align: right !important;float: right;"> رقم الهاتف يجب ان يحتوى على كود الدولة</span></div>
          </nb-alert>
          <!-----  end error when phone number is not has country code-------->
        </div>
        <!----- end phone number errors -------->
      </div>
      <!------- end phone number form group ---------->

      <!------- start address form group ---------->
      <div class="form-group">
        <!------- start address input ---------->
        <div class="input">
          <!------ address label -------------->
          <label>Address - محل الاقامة</label> <span class="astric">*</span>
          <!---------- address input --------------->
          <input type="text" placeholder="Address - محل الاقامة" class="form-control" [(ngModel)]="userDetails.address"
            name="address" #address="ngModel" ngModel minlength="5" maxlength="100">
          <!----- start address tooltip -------->
          <span class="tooltip-danger">
            <!----- start button of address tooltip -------->
            <button type="button" style="border: 0;padding: 0;background: transparent;"
              class="btn btn-outline-secondary mr-2 tooltip_btn" placement="top"
              ngbTooltip="Address characters must be greater than 5 - محل الاقامة يجب ان يحتوى على 5 احرف على الاقل ">
              <!------ start icon of tooltip -------->
              <span class="question_mark">
                <i class="fa fa-question w3-animate-fading"></i>

              </span>
              <!------ end icon of tooltip -------->
            </button>
            <!----- end button of address tooltip -------->
          </span>
          <!----- end address tooltip -------->
        </div>
        <!------- end address input ---------->

        <!----- start address errors -------->
        <div>
          <!-----  start error when username less than 5 characters-------->
          <nb-alert class="custom-alert" status="danger" *ngIf="address.invalid && address.touched">
            <div *ngIf="address.errors.minlength">Address characters must be greater than 5 <br><span
                style="text-align: right !important;float: right;"> محل الاقامة يجب ان يحتوى على 5 احرف على الاقل
              </span></div>
            <div *ngIf="address.errors.maxlength">Address characters must be less than 100 characters</div>
          </nb-alert>
          <!-----  end error when username less than 5 characters-------->
        </div>
        <!----- end address errors -------->
      </div>
      <!------- end address form group ---------->

      <!------- start password form group ---------->
      <div class="form-group">
        <!------- start password input ---------->
        <div class="input">
          <!------ password label -------------->
          <label>Password - كلمة المرور</label> <span class="astric">*</span>
          <!---------- password input --------------->
          <input type="password" class="form-control" id="password-field" placeholder="Password - كلمة المرور"
            [(ngModel)]="userDetails.password" name="password"
            pattern="^(?=.*[أ-يA-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-zأ-ي\d$@$!%*#?&]{10,30}$" #password="ngModel"
            required minlength="10" maxlength="30">
          <!---------- show password --------------->
          <span toggle="#password-field" class="eva eva-eye field_icon toggle-password"></span>
          <!----- start password tooltip -------->
          <span class="tooltip-danger">
            <!----- start button of password tooltip -------->
            <button type="button" style="border: 0;padding: 0;background: transparent;"
              class="btn btn-outline-secondary mr-2 tooltip_btn" placement="top"
              ngbTooltip="Password must contain a minimum of 10 characters (numbers, letters and special characters) - كلمة المرور يجب ان تكون على الأقل 10 عناصر (أحرف و أرقام و رموز )">
              <!------ start icon of tooltip -------->
              <span class="question_mark">
                <i class="fa fa-question w3-animate-fading"></i>
              </span>
              <!------ end icon of tooltip -------->
            </button>
            <!----- end button of password tooltip -------->
          </span>
          <!----- end password tooltip -------->
        </div>
        <!------- end password input ---------->
        <!----- start password errors -------->
        <div>
          <!-----  start error when password less than 10 characters-------->
          <nb-alert status="danger" *ngIf="password.touched && password.invalid && password.errors.minlength">
            <div>Password must contain a minimum of 10 characters
              <br><span style="text-align: right !important;float: right;"> كلمة المرور يجب ان تحتوى على 10 عناصر على
                الاقل </span></div>
          </nb-alert>
          <!-----  end error when password less than 10 characters-------->

          <!-----  start error when password has speial characters -------->
          <nb-alert status="danger" *ngIf="password.touched && password.invalid && password.errors.pattern">
            <div>Password must contain letters, numbers and special characters
              <br><span style="text-align: right !important;float: right;"> كلمة المرور يجب ان تحتوى على احرف و ارقام و
                رموز </span></div>
          </nb-alert>
          <!-----  end error when password has speial characters -------->
        </div>
        <!----- end password errors -------->
      </div>
      <!------- end password form group ---------->

      <!------- start confirm password form group ---------->
      <div class="form-group">
        <!------- start confirm password input ---------->
        <div class="input">
          <!------ confirm password label -------------->
          <label>Confirn Password - أكد كلمة المرور</label> <span class="astric">*</span>
          <!---------- confirm password input --------------->
          <input type="password" class="form-control" id="password-field2"
            placeholder="Confirm Password - أكد كلمة المرور" [(ngModel)]="userDetails.confirmNew_password"
            name="confirmNew_password" #confirmNew_password="ngModel" required
            title="Password must match - يجب تطابق كلمتي المرور">
          <!---------- show password --------------->
          <span toggle="#password-field2" class="eva eva-eye field_icon toggle-password"></span>
          <!----- start confirm password tooltip -------->
          <span class="tooltip-danger">
            <!----- start button of confirm password tooltip -------->
            <button type="button" style="border: 0;padding: 0;background: transparent;"
              class="btn btn-outline-secondary mr-2 tooltip_btn" placement="top"
              ngbTooltip="Password must match - يجب تطابق كلمتي المرور">
              <!------ start icon of tooltip -------->
              <span class="question_mark">
                <i class="fa fa-question w3-animate-fading"></i>
              </span>
              <!------ start icon of tooltip -------->
            </button>
            <!----- end button of confirm password tooltip -------->
          </span>
          <!----- end confirm password tooltip -------->
        </div>
        <!------- end confirm password input ---------->

        <!----- start confirm password errors -------->
        <div>
          <!-----  start error when confirm password not equal to password -------->

          <nb-alert class="custom-alert" status="danger"
            *ngIf="(confirmNew_password.value != password.value)&& confirmNew_password.touched">
            Password mismatch <br><span style="text-align: right !important;float: right;"> كلمة المرور غير متطابقة
            </span>
          </nb-alert>
          <!-----  end error when confirm password not equal to password -------->
        </div>
        <!----- end confirm password errors -------->
      </div>
      <!------- end confirm password form group ---------->

      <!------- start button submit ---------->
      <div class="text-center">
        <!------- button submit ---------->
        <button class="btn-large btn-submit" type="submit" (click)="OnRegister(userRegistrationForm)">Register -
          التسجيل</button>
      </div>
      <!------- end button submit ---------->
      <!------- start login link ---------->
      <div class="register">
        <h4>Already have an account? - لديك حساب؟ <br> <a routerLink="../login" style="margin-top: 10px;">Login -
            دخول</a>
        </h4>
      </div>
      <!------- end login link ---------->
    </form>
    <!----- end register form ------------>
  </div>
  <!-------- end register box ----------------->
</div>
<!-------- end register section ----------------->