<div class="top">
  <div class="d-flex">
    <h4>Files Storage</h4>
  </div>
</div>
<div class="content">
  <div class="float-right">
    <a routerLink="../upload-file"><button class="add_token">Upload file</button></a>
  </div>
  <div *ngIf="filesList.length === 0 else another">
    No files yet
  </div>
  <ng-template #another>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="table-secondary">
          <tr>
            <th scope="col">File Name</th>
            <th scope="col">File Type</th>
            <th scope="col">File Size</th>
            <th scope="col">Actions</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of filesList| paginate: { itemsPerPage: 10, currentPage: p }">
            <td>{{file.FileName}}</td>
            <td>{{file.FileType}}</td>
            <td>{{file.FileSize}}</td>
            <td class="text-center">
              <a class="token-a" (click)="downloadFile(file)">
                <i class="fas fa-file-download"></i> Download</a>
              <a class="token-a" (click)="deleteFile(file)">
                <i class="fas fa-trash"></i> Delete</a>

            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </ng-template>

</div>