<!-------------- start token details header ----------------->
<div class="top">
  <!-------------- start token details title ----------------->
  <div class="d-flex">
    <h4>{{tokenDetails.name}} Details</h4>
  </div>
  <!-------------- end token details title ----------------->
</div>
<!-------------- end token details header ----------------->
<!-------------- start token details content ----------------->
<div class="content">
  <!-------------- start token details row ----------------->
  <div class="row">
    <!-------------- start token details col-md-5 ----------------->
    <div class="col-md-5">
      <!-------------- start token details text-center ----------------->
      <div class="text-center">
        <!-------------- start token image but if the image is exist ----------------->
        <div *ngIf="token_image === true">
          <!-------------- token image ----------------->
          <img class="image" [src]="imagePath">
        </div>
        <!-------------- end token image but if the image is exist ----------------->
        <!-------------- start token image but if the image is not exist ----------------->
        <div *ngIf="token_image === false">
          <!-------------- token image ----------------->
          <img class="image" [src]="default_image" style="width: 150px !important;height: 150px !important;">
        </div>
        <!-------------- end token image but if the image is not exist ----------------->
        <!-------------- token name ----------------->
        <h3 class="title">{{tokenDetails.name}}</h3>
        <!-------------- token symbol ----------------->
        <h5 class="sub_title" style="margin-bottom: 10px;">{{tokenDetails.symbol}}</h5>
        <!-------------- edit token button ----------------->
        <a routerLink="../../edit-token/{{tokenList.TokenID}}" class="go_edit">Edit</a>
        <!-------------- refund token button ----------------->
        <a routerLink="../../refund-token/{{tokenList.TokenID}}" *ngIf="isAdmin === false" class="go_edit">Refund</a>
      </div>
      <!-------------- end token details text-center ----------------->
    </div>
    <!-------------- end token details col-md-5 ----------------->
    <!-------------- start token details col-md-7 ----------------->
    <div class="col-md-7">
      <!-------------- token description ----------------->
      <p class="desc">{{tokenDetails.Description}}</p>

      <!-------------- start sec for token id ----------------->
      <div class="sec">
        <!-------------- start row for token id ----------------->
        <div class="row" style="width: 100%">
          <!-------------- start token id title ----------------->
          <div class="col-md-4">
            <!-------------- token id title ----------------->
            <h3 class="sub-title">Token Id: </h3>
          </div>
          <!-------------- end token id title ----------------->
          <!-------------- start token id value ----------------->
          <div class="col-md-8">
            <!-------------- token id ----------------->
            <h5 class="amount float-right">{{tokenList.TokenID}}</h5>
          </div>
          <!-------------- end contract id value ----------------->
        </div>
        <!-------------- end row for token id ----------------->
      </div>
      <!-------------- end section for token id ----------------->
      <!-------------- start sec for contract id ----------------->
      <div class="sec">
        <!-------------- start row for contract id ----------------->
        <div class="row" style="width: 100%">
          <!-------------- start contract id title ----------------->
          <div class="col-md-4">
            <!-------------- contract id title ----------------->
            <h3 class="sub-title">Contract Id: </h3>
          </div>
          <!-------------- end contract id title ----------------->
          <!-------------- start contract id value ----------------->
          <div class="col-md-8">
            <!-------------- contract id value ----------------->
            <h5 class="amount float-right">{{tokenList.ContractID}}</h5>
          </div>
          <!-------------- end contract id value ----------------->
        </div>
        <!-------------- end row for contract id ----------------->
      </div>
      <!-------------- end sec for contract id ----------------->

      <!-------------- start sec for token time ----------------->
      <div class="sec">
        <!-------------- start row for token time ----------------->
        <div class="row" style="width: 100%">
          <!-------------- start token time title ----------------->
          <div class="col-md-4">
            <!-------------- token time title ----------------->
            <h3 class="sub-title">Token Time: </h3>
          </div>
          <!-------------- end token time title ----------------->

          <!-------------- start token time value ----------------->
          <div class="col-md-8">
            <!-------------- token time value ----------------->
            <h5 class="amount float-right">{{tokenList.TokenTime}}</h5>
          </div>
          <!-------------- end token time value ----------------->
        </div>
        <!-------------- end row for token time ----------------->
      </div>
      <!-------------- end sec for token time ----------------->

      <!-------------- start sec for token usage type ----------------->
      <div class="sec">
        <!-------------- start row for usage type ----------------->
        <div class="row" style="width: 100%">
          <!-------------- start usage type title ----------------->
          <div class="col-md-4">
            <!-------------- usage type title ----------------->
            <h3 class="sub-title">Usage Type: </h3>
          </div>
          <!-------------- end usage type title ----------------->
          <!-------------- start usage type value ----------------->
          <div class="col-md-8">
            <!-------------- usage type value ----------------->
            <h5 class="amount float-right">{{tokenDetails.UsageType}}</h5>
          </div>
          <!-------------- end usage type value ----------------->
        </div>
        <!-------------- end row for usage type ----------------->
      </div>
      <!-------------- end sec for token usage type ----------------->
      <!-------------- start sec for token type ----------------->
      <div class="sec" style="border: 0;">
        <!-------------- start row for token type ----------------->
        <div class="row" style="width: 100%">
          <!-------------- start token type title ----------------->
          <div class="col-md-4">
            <!-------------- token type title ----------------->
            <h3 class="sub-title">Token Type: </h3>
          </div>
          <!-------------- end token type title ----------------->
          <!-------------- start token id type value ----------------->
          <div class="col-md-8">
            <!-------------- token id type value ----------------->
            <h5 class="amount float-right">{{tokenDetails.TokenType}}</h5>
          </div>
          <!-------------- end token id type value ----------------->
        </div>
        <!-------------- end row for token type ----------------->
      </div>
      <!-------------- end sec for token type ----------------->
    </div>
    <!-------------- end token details col-md-7 ----------------->
  </div>
  <!-------------- end token details row ----------------->
  <hr>
  <!-------------- start row for token data ----------------->
  <div class="row">
    <!-------------- start col-md-5 for token data ----------------->
    <div class="col-md-5">
      <!-------------- start token details text-center ----------------->
      <div class="text-center">
        <!-------------- total supply title ----------------->
        <h3 class="sub-title">Total Supply</h3>
        <!-------------- total supply value ----------------->
        <h5 class="amount">{{tokenDetails.TokensTotalSupply}}</h5>
        <!-------------- token value title ----------------->
        <h3 class="sub-title">Token Value</h3>
        <!-------------- token value value ----------------->
        <h5 class="amount">{{tokenDetails.TokenValue}}</h5>
        <!-------------- total percision title ----------------->
        <h3 class="sub-title">Token Precision</h3>
        <!-------------- token percision value ----------------->
        <h5 class="amount">{{tokenDetails.Precision}}</h5>
        <!-------------- total supply title ----------------->
        <h3 class="sub-title">Dynamic Price</h3>
        <!-------------- token dynamic price value ----------------->
        <h5 class="amount">{{tokenDetails.Dynamicprice}}</h5>
      </div>
      <!-------------- end token details text-center ----------------->
    </div>
    <!-------------- start col-md-5 for token data ----------------->
    <!-------------- start col-md-7 for user public keys ----------------->
    <div class="col-md-7">
      <!-------------- user public keys title ----------------->
      <h2 class="title">User public keys:</h2>
      <!-------------- start user public keys title ul ----------------->
      <ul class="list-unstyled" style="padding: 0">
        <!-------------- start user public keys title loop ----------------->
        <li *ngFor="let public_key of public_keys;let i=index;" style="word-break: break-word;"><span>{{i+1}}- </span>
          {{public_key}}</li>
        <!-------------- end user public keys title loop ----------------->
      </ul>
      <!-------------- end user public keys title ul ----------------->
    </div>
    <!-------------- end col-md-7 for user public keys ----------------->
  </div>
  <!-------------- end row for token data ----------------->
</div>
<!-------------- end token details content ----------------->