.content h4.date{
    font-size: 16px;
    color: #aaa;
}

.content img.image{
    width: 80px;
    height: 80px;
}

.content h3.title{
    color:#01458d;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.content h3.sub-title{
    font-weight: 500;
    font-size: 16px;
}

.content h5.amount{
    font-weight: bold;
    font-size: 14px;
    color:#01458d;
    word-break: break-word;
}

.content .go_edit{
    padding: 5px 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    background: #01458d;
    color: #fff;
    margin-right: 15px;
    margin-bottom: 10px;
    text-decoration: none;
}

.content .sec{
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.content h2.title{
    font-size: 18px;
    font-weight: bold;
    color: #01458d;
}

.content ul li span{
    font-size: 16px;
    font-weight: bold;
    color: #01458d;
    margin-right: 10px;
}