<div class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">


  <div class="logo-containter">
    <div class="logo" (click)="goToHome()">INO <span>Wallet</span></div>

    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <!-- <div class="logo" > <span>my balance: </span><span>{{userData.Balance}} </span></div> -->
  </div>
  <!-- <ngx-theme-switcher></ngx-theme-switcher> -->
</div>
<div class="header-container">
  <nb-actions size="medium" [class.right]="position === 'normal'" [class.left]="position === 'inverse'">
    <nb-action>
      <div class="user_dropdown2">

        <div class="links">
          <div class="d-flex">
            <div class="button">
              <button style="padding: 0 !important;border: 0;background: transparent;color: #fff !important;"
                (click)="goToProfile()" title="Profile"><i class="fas fa-user-circle"
                  style="color: #fff !important;font-size: 18px !important"></i></button>
            </div>
            <div class="button" style="text-align: center;" *ngIf="isDeactivate === true">
              <button title="Deactivate account"
                style="padding: 0 !important;border: 0;background: transparent;color: #fff !important;"
                (click)="goToDeactivate()"><i style="color: #fff !important;font-size: 18px !important"
                  class="fas fa-ban"></i></button>
            </div>
            <div class="button" style="text-align: center;" *ngIf="isDeactivate === false">
              <button title="Activate account" (click)="activateAccount()"
                style="padding: 0 !important;border: 0;background: transparent;color: #fff !important;"><i
                  class="fas fa-power-off" style="color: #fff !important;font-size: 18px !important"></i></button>
            </div>
            <div class="button float-right" style="margin-right: 0">
              <button title="Logout" class="logout" (click)="logout()"
                style="padding: 0 !important;border: 0;background: transparent;color: #fff !important;"><i
                  class="fas fa-sign-out-alt" style="color: #fff !important;font-size: 18px !important"></i></button>
            </div>
          </div>
        </div>
      </div>
    </nb-action>
    <nb-action *nbIsGranted="['view', 'user']" style="padding: 0 !important;margin-top: 7px;">
      <div class="user_dropdown2">
        <h4><img src="{{image_url}}"> <span>{{username}}</span></h4>

      </div>

      <div class="dropdown user_dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <h4><img src="{{image_url}}"> <span>{{username}}</span></h4>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <div class="details">
            <img src="{{image_url}}">
            <h4>{{username}}</h4>
          </div>
          <div class="buttons">
            <div class="d-flex">
              <div class="button">
                <button (click)="goToProfile()">Profile</button>
              </div>
              <div class="button" style="text-align: center;" *ngIf="isDeactivate === true">
                <button (click)="goToDeactivate()">Deactivate Account</button>
              </div>
              <div class="button" style="text-align: center;" *ngIf="isDeactivate === false">
                <button (click)="activateAccount()">Activate Account</button>
              </div>
              <div class="button float-right" style="margin-right: 0">
                <button class="logout" (click)="logout()">Logout</button>
              </div>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </nb-action>

    <!-- <div > <span>{{userData.Balance}}</span></div> -->



  </nb-actions>
</div>