@import '../@theme/styles/themes';

@include nb-install-component() {
  /deep/ router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}

.nb-theme-corporate nb-layout .layout nb-layout-header nav{
  background: #01458d;

}


.form_section{
  background: #01458d;
}

.form_section .title_sec .title
{
  text-align: center;
  color : #fff;
}

.form_section .title_sec{
  text-align : center;
}
.form_section .title_sec .sub-title{
text-align : center;
color: #d1d1ff;
}
.login-box-body{
  width: 35%;
  margin: 5vh auto;
  background-color: #f3f3f3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 20px;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.reg-box-body{
  width: 35%;
  margin: 0vh auto;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 20px;
  height: auto;
  padding-top: 30px;
  padding-bottom: 10px;
}

.login-box-body .input,
.reg-box-body .input{
  display: block;
  width: 70%;
  line-height: 1.5;
  position: relative;
  color: #495057;
  background-color: transparent;
  border-radius: 20px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: auto;
}

.login-box-body .input .form-control,
.reg-box-body .input .form-control{
background: #fff;
}

.login-box-body .input span.toggle-password,
.reg-box-body .input span.toggle-password,
.reg-box-body .input span#toggle-password2,
.reg-box-body .input span#toggle-password3,
.login-box-body .input span#toggle-password2{
  position: absolute;
  top: 43px;
  color: #01458d;
    right: 10px;
    font-size: 22px;
}

.login-box-body .input span.astric,
.reg-box-body .input span.astric{
  
  font-size: 17px;
  color: #f00;
  margin-left: 5px;
}

.tooltip_btn{
  position: absolute;
  border: 0;
  right: -8%;
  top: 60%;
  cursor: pointer;
  border: 0;
}


/*
.form_section form{
    width:60%;
    margin: auto;
}

/* .form_section form .form-control,
.form_section form .input-group .ng-pristine{
    background-color: #fff;//transparent !important;
    margin-bottom: 1.5rem;
    color: #000;
    font-weight: 400;
    border: 1px solid #fff;
    width: 40%;
    align-self: center;
} */
/* .form_control{
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px
} */
.form_section[_ngcontent-c4] form[_ngcontent-c4] .btn-submit[_ngcontent-c4]{
  cursor: pointer;
}
.nb-theme-corporate nb-checkbox .customised-control-description {
  color: #fff;
}

.form_section form .btn-submit{
  margin: 15px 0;
}

.form_section form .other{
  position : relative;
  margin-left: 50px;
}
.remeberMe{
  color: #01458d;
}
.form_section form .forget_password{
  position: absolute;
  right : 0;
}

.form_section form label{
  color: #d1d1ff;
}

.w3-animate-fading {
  animation: fading 1s infinite
}

@keyframes fading {
  0% {
      color: #01458d;
  }
  50% {
      color: #f00;

  }
  100% {
      color: #01458d;

  }

}

.form_section form .btn-submit{
  background-color: #01458d;
  color:  #fff;
  font-weight: 500;
  font-family: Exo;
  cursor: default;
  padding: 5px 80px;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: bold;
  border: 0;
  border-radius: 20px;

}

.form_section form .register h4{
    text-align: center;
    color: #000;
    font-size:1rem;
}
.form_section form .register a{
  color: #01458d;
}

.alert-custom{
  text-align: center;
  border-radius: 20px;
  margin: auto;
}
@media(max-width:786px){
  .form_section form{
    width:100%;
  }
}


.fa, .fas {
  font-weight: 900;
  font-size: 20sp;
}
.fas {
  font-size: 1.5rem !important;
  width: 2.5rem;
  margin: 0 0.25rem 0;
  text-align: center;
  color: #a1a1e5;
}

.nb-theme-corporate nb-layout .layout .layout-container .content .columns nb-layout-column{
  padding: 0 !important
}