<div class="top">
  <div class="d-flex">
    <h4>Terms and conditions</h4>

  </div>
</div>
<div class="content">
  <div class="row">
    <div class="col-md-8">
      <div class="description">
        <p>This page provides terms and conditions of use Inovatian’s Digital Wallet apply to all on our website: <a
            target="_blank" href="http://www.inovatian.com/">www.inovatian.com</a></p>
        <p>For the purpose of these terms and conditions, Inovatian Inc. will be referred to as the “company” and all
          users of the company’s services shall be referred to as the “customer”.  The website operated by Inovatian
          Inc. at <a target="_blank" href="http://www.inovatian.com/">www.inovatian.com</a> will be referred to as the
          “website”.</p>
        <p>You have read, understood, and agreed to be bound by these Terms and Condition of Use. If you do not agree to
          all of these Terms of Use, please do not use the Site or our Services.</p>
        <h3 class="title">Digital Wallet Service:</h3>
        <p><span>1-</span> The customer is able to use Inovatian’s Digital wallet by creating an account on our platform
          using their
          email address. Through the wallet they can receive or send coins. Each sending or receiving process is
          referred to in these terms and conditions of use as “Transaction”.</p>
        <p><span>2- </span>The customer can obtain their balance, pay for a service, transfer funds to other users and
          request their wallet’s balance and transfer their balance in a safe manner, within a short time frame and at a
          competitive rate.</p>
        <p><span>3- </span>The customer is responsible for changing their Digital Wallet service password upon receipt
          of their order.  The company will take no responsibility for coins stolen from the customer’s digital wallet,
          which was caused by password breach.</p>
        <p><span>4- </span>You agree that you will supply only complete and accurate information in registering for an
          account and that you will update us if any information you have provided to us changes. If the username you
          have selected is taken, we will provide you with a username of our choosing. You also certify that you have
          never been removed or suspended from using our Services.</p>
        <h3 class="title">Account Activation and Accountability:
        </h3>
        <p><span>1- </span>You can activate your account after receiving public key on your email, therefore you are
          responsible for ensuring that a page belongs to the individual or entity claimed to be the owner of the
          Account. You may review the domain name of the email address used to create the Account on the user’s page.
          You agree that we take no responsibility and make no representations to you the user whatsoever with respect
          to Account ownership.</p>
        <p><span>2- </span>If any person successfully logs in to an Account, we assume they are the authorized user and
          we provide them with all privileges available with the Account. If you cannot log in to your Account, and you
          cannot receive system generated communications regarding your password we cannot assist you in gaining access
          to your Account and there is nothing further we can do to provide access to your Account. You agree that we
          have no responsibility for any losses you incur as a result of your inability to access your Account due to
          lost or incorrect passwords.</p>
        <h3 class="title">Digital Waller Administrator Service:</h3>
        <p>We provide this service to help less tech-savvy users. It helps users who are not capable of creating an
          account or making transaction on the Digital Wallet.</p>
        <p>Users can contact the administrator and request any of the following transactions:</p>
        <p><span>1- </span>Create, update or deactivate the account; the dashboard administrator can create an account
          for a user, update their information, deactivate their account and prevent them from making transactions. The
          administrator can also remove a damaged user from the network.</p>
        <p><span>2- </span>Change password; the administrator can reset a user’s password if requested by the user.</p>
        <p><span>3- </span>Any transaction can be done from the Digital Wallet; the admin can transfer balance to
          another account if requested by the user.</p>
        <p><span>4- </span>Retrieve the history of a user’s transactions.</p>
        <h3 class="title">We Are Not a Coins Transaction Platform:</h3>
        <p>You understand and agree that our Services allow you to use the Digital Wallet only to make transactions. In
          other words, you cannot use our Services to send or receive any other crypto coins. We do not store or conduct
          transactions for any other coins. </p>
        <h3 class="title">Wallet Using Instructions:</h3>
        <p><span>1- </span>The Company reserves the right to immediately close the accounts and to liquidate the balance
          of persons determined to have breached our Terms and Conditions of Service.</p>
        <p><span>2- </span>You will not at any time use an Account or Wallet that is created by any other user.</p>
        <p><span>3- </span>We cannot guarantee the identity of any customer; sender, receiver or any other party and you
          are solely responsible for any activity that occurs in connection with your Account or your Wallet.</p>
        <p><span>4- </span>You will verify all Transaction information before entering into any Transaction through our
          Service as once we submit the Transaction to the applicable digital currency network we cannot cancel it.</p>
        <p><span>5- </span>We reserve the right to cancel or delay any Transaction that we believe may violate
          applicable laws or these Terms and Conditions of Use.</p>
        <p><span>6- </span>We cannot cancel any Transaction that has already been submitted to the applicable digital
          currency network.</p>
        <p><span>7- </span>You will not use the Site or Services for any purpose or in any manner that is inconsistent
          with any applicable laws or regulations.</p>
        <p><span>8- </span>You will not use the Services to transmit spam email or unsolicited advertisements to others.
        </p>
        <p><span>9- </span>You understand and agree that we reserve the right to cancel and/or suspend your Account, to
          block Transactions, or to freeze your Account immediately and without notice if we determine, in our sole
          discretion, that your Account or any of your Transactions are associated with violation of these Terms of Use
          or any other illegal or prohibited activity.</p>
        <h3 class="title">Digital Waller Support:</h3>
        <p>In order to contact our customer support personnel, you may only do so through your Account and you must be
          logged in to your Account. Otherwise, we cannot verify that you are the holder of your Account. We do not
          provide customer support to any person who is not logged in to their Account.</p>
        <h3 class="title">Force Majeure Agreement:</h3>
        <p>You agree that we will not be liable for delays, performance failures or service interruptions which result
          directly or indirectly from any cause or condition beyond our reasonable control, including but not limited
          to, any delay or failure due to any act of God, act of civil or military authorities, act of terrorists, civil
          disturbance, war, strike or other labor dispute, fire, interruption in telecommunications or Internet services
          or network provider services, failure of equipment and/or software, other catastrophe or any other occurrence
          which is beyond our reasonable control.</p>
        <h3 class="title">Information Privacy:</h3>
        <p>You understand and agree that we may disclose information about you if we have a good faith belief that we
          are required to do so by law or legal process, to respond to claims, or to protect the rights, property, or
          safety of us or others. Please refer to our Privacy Policy for more information about the manner in which we
          protect and use your information. You acknowledge that you have read and understood our Privacy Policy. </p>
        <h3 class="title">Governing Law:</h3>
        <p>These terms and conditions of use are governed in all respects by the laws of Egypt, without regard to its
          conflict of law’s provisions.</p>
        <h3 class="title">General Rules:</h3>
        <p>These Terms of Use constitute the entire agreement between us with respect to your use of the Site and the
          Services. If for any reason a court of competent jurisdiction finds any provision of these Terms of Use, or
          portion thereof, to be unenforceable, that provision or portion thereof shall be severed from the Terms of Use
          and the remainder of the Terms of Use shall continue in full force and effect. Any failure by us to enforce or
          exercise any provision of these Terms of Use or related right shall not constitute a waiver of that right or
          provision. All provisions of these Terms of Use which by their nature extend beyond the expiration or
          termination of this Agreement, including, without limitation, sections pertaining to suspension or
          termination, amounts owed to us, indemnity obligations, arbitration, class action waiver, liability
          limitations and general provisions, shall survive the termination or expiration of your Account or these Terms
          of Use. The English version of these Terms of Use shall control, even if we provide versions of these Terms of
          Use in other languages. </p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="../../../assets/images/images.jpg" style="width:100%;" class="img">
    </div>
  </div>

</div>