<!-------- start reset password section ----------------->
<div class="form_section">
  <!-------- start reset password title ----------------->
  <div class="title_sec">
    <!------ logo of inovatian --------->
    <img src="../../../assets/images/logo1.png" style="width: 300px;">
    <!------- title of reset password ---------->
    <p class="sub-title">Hello! reset password with your email.</p>
  </div>
  <!-------- end reset password title ----------------->

  <!-------- start reset password box ----------------->
  <div class="login-box-body">
    <!----- start reset password form ------------>
    <form #resetPasswordForm="ngForm" (ngSubmit)="onSubmit(resetPasswordForm)">
      <!------- start password form group ---------->
      <div class="form-group">
        <!------- start password input ---------->
        <div class="input">
          <!------ password label -------------->
          <label>New Password - كلمة المرور الجديدة</label> <span class="astric">*</span>
          <!---------- password input --------------->
          <input type="password" class="form-control" id="password-field"
            placeholder="New Password - كلمة المرور الجديدة" [(ngModel)]="userDetails.newPassword" name="newPassword"
            pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{9,30}$" #newPassword="ngModel" required
            minlength="9" maxlength="30">
          <!---------- show password --------------->
          <span toggle="#password-field" class="eva eva-eye field_icon toggle-password"></span>
          <!----- start password tooltip -------->
          <span class="tooltip-danger">
            <!----- start button of password tooltip -------->
            <button type="button" style="border: 0;padding: 0;background: transparent;"
              class="btn btn-outline-secondary mr-2 tooltip_btn" placement="top"
              ngbTooltip="Password must be at least 10 characters (letters, numbers and special characters) - كلمة المرور يجب ان تكون على الأقل 10 عناصر (أحرف و أرقام و رموز)">
              <!------ start icon of tooltip -------->
              <span class="question_mark">
                <i class="fa fa-question w3-animate-fading"></i>

              </span>
              <!------ end icon of tooltip -------->
            </button>
            <!----- end button of password tooltip -------->
          </span>
          <!----- end password tooltip -------->
        </div>
        <!------- end password input ---------->

        <!----- start password errors -------->
        <div>
          <!-----  start error when password less than 10 characters-------->
          <nb-alert status="danger" *ngIf="newPassword.touched && newPassword.invalid && newPassword.errors.minlength">
            <div>Password must contain a minimum of 10 characters
              <br><span style="text-align: right !important;float: right;"> كلمة المرور يجب ان تحتوى على 10 عناصر على
                الاقل </span></div>
          </nb-alert>
          <!-----  end error when password less than 10 characters-------->
          <!-----  start error when password has speial characters -------->
          <nb-alert status="danger" *ngIf="newPassword.touched && newPassword.invalid && newPassword.errors.pattern">
            <div>Password must contain letters, numbers and special characters
              <br><span style="text-align: right !important;float: right;"> كلمة المرور يجب ان تحتوى على احرف و ارقام و
                رموز </span></div>
          </nb-alert>
          <!-----  end error when password has speial characters -------->
        </div>
        <!----- end password errors -------->

      </div>
      <!------- end password form group ---------->

      <!------- start confirm password form group ---------->
      <div class="form-group">
        <!------- start confirm password input ---------->
        <div class="input">
          <!------ confirm password label -------------->
          <label>Confirn Password - أكد كلمة المرور</label> <span class="astric">*</span>
          <!---------- confirm password input --------------->
          <input type="password" class="form-control" id="password-field2"
            placeholder="Confirm Password - أكد كلمة المرور" [(ngModel)]="userDetails.confirmNew_password"
            name="confirmNew_password" #confirmNew_password="ngModel" required
            title="Password must match - يجب تطابق كلمتي المرور">
          <!---------- show password --------------->
          <span toggle="#password-field2" class="eva eva-eye field_icon toggle-password"></span>
          <!----- start confirm password tooltip -------->
          <span class="tooltip-danger">
            <!----- start button of confirm password tooltip -------->
            <button type="button" style="border: 0;padding: 0;background: transparent;"
              class="btn btn-outline-secondary mr-2 tooltip_btn" placement="top"
              ngbTooltip="Password must match - يجب تطابق كلمتي المرور">
              <!------ start icon of tooltip -------->
              <span class="question_mark">
                <i class="fa fa-question w3-animate-fading"></i>

              </span>
              <!------ end icon of tooltip -------->
            </button>
            <!----- end button of confirm password tooltip -------->
          </span>
          <!----- end confirm password tooltip -------->
        </div>
        <!------- end confirm password input ---------->

        <!----- start confirm password errors -------->
        <div>
          <!-----  start error when confirm password not equal to password -------->
          <nb-alert class="custom-alert" status="danger"
            *ngIf="confirmNew_password.touched && confirmNew_password.invalid">
            <div *ngIf="confirmNew_password.errors.required">Password mismatch &#013; كلمة المرور غير متطابقة</div>
          </nb-alert>
          <!-----  end error when confirm password not equal to password -------->
        </div>
        <!----- end confirm password errors -------->
      </div>
      <!------- end confirm password form group ---------->

      <!------- start code form group ---------->
      <div class="form-group">
        <!------- start code input ---------->
        <div class="input">
          <!------ code label -------------->
          <label>Code - الكود</label> <span class="astric">*</span>
          <!---------- code input --------------->
          <input type="text" class="form-control" placeholder="Code - الكود" [(ngModel)]="userDetails.code" name="code"
            #code="ngModel" required minlength="4">
          <!----- start code tooltip -------->
          <span class="tooltip-danger">
            <!----- start button of code tooltip -------->
            <button type="button" style="border: 0;padding: 0;background: transparent;"
              class="btn btn-outline-secondary mr-2 tooltip_btn" placement="top"
              ngbTooltip="Enter the code sent in the email - ادخل الكود المرسل فى الايميل">
              <!------ start icon of tooltip -------->
              <span class="question_mark">
                <i class="fa fa-question w3-animate-fading"></i>

              </span>
              <!------ end icon of tooltip -------->
            </button>
            <!----- end button of code tooltip -------->
          </span>
          <!----- end code tooltip -------->
        </div>
        <!------- end code input ---------->

        <!----- start code errors -------->
        <div>
          <!-----  start error when code must be at least 4 characters -------->
          <nb-alert class="custom-alert" status="danger" *ngIf="code.invalid && code.touched && code.errors.minlength">
            <div>code must be at least 4 characters <br>

              <span style="text-align: right !important;float: right;"> الكود يجب ان يتكون من 4 حروف</span></div>

          </nb-alert>
          <!-----  end error when code must be at least 4 characters -------->
        </div>
        <!----- end code errors -------->
      </div>
      <!------- end code form group ---------->

      <!------- start button submit ---------->
      <div class="text-center">
        <!------- button submit ---------->
        <button class="btn-large btn-submit" type="submit" style="padding: 5px 30px;">
          Send - ارسل
        </button>
      </div>
      <!------- end button submit ---------->
    </form>
    <!----- end reset password form ------------>
  </div>
  <!-------- end reset password box ----------------->
</div>
<!-------- end reset password section ----------------->