<!-------------- start creation transactions header ----------------->
<div class="top">
  <!-------------- start creation transactions title ----------------->
  <div class="d-flex">
    <h4>Token Creations Transactions</h4>
  </div>
  <!-------------- end creation transactions title ----------------->
</div>
<!-------------- end creation transactions header ----------------->

<!-------------------- start creation transactions content ------------------>
<div class="content">
  <!-------------------- start div for table-responsive ------------------>
  <div class="table-responsive">
    <!-------------------- start table ------------------>
    <table class="table table-bordered table-hover">
      <!-------------------- start table head ------------------>
      <thead class="table-secondary">
        <!-------------------- start table head tr ------------------>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Token Name</th>
          <th scope="col">From</th>
          <th scope="col">To</th>
          <th scope="col">Amount</th>
        </tr>
        <!-------------------- start table head tr ------------------>
      </thead>
      <!-------------------- end table head ------------------>

      <!-------------------- start table body ------------------>
      <tbody>
        <!-------------------- start loop for transactions ------------------>
        <tr *ngFor="let transaction of transactions| paginate: { itemsPerPage: 10, currentPage: p }">
          <th scope="row">{{transaction.TransactionDate | date}} <br>
            {{transaction.TransactionDate | date:'mediumTime'}}</th>
          <td>{{transaction.TokenID}}</td>
          <td>{{transaction.Sender}}</td>
          <td>{{transaction.Receiver}}</td>
          <td>{{transaction.Amount}}</td>
        </tr>
        <!-------------------- end loop for transactions ------------------>
      </tbody>
      <!-------------------- end table body ------------------>
    </table>
    <!-------------------- end table ------------------>
    <!-------------------- start pagination ------------------>
    <div class="text-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <!-------------------- end pagination ------------------>
  </div>
  <!-------------------- end div for table-responsive ------------------>
</div>
<!-------------------- end creation transactions content ------------------>