<!-------------- start edit profile header ----------------->
<div class="top">
    <!-------------- start edit profile title ----------------->
    <div class="d-flex">
        <h4>Edit Profile</h4>
    </div>
    <!-------------- start edit profile title ----------------->
</div>
<!-------------- end edit profile header ----------------->

<!-------------------- start edit profile content ------------------>
<div class="content" style="padding: 20px;">
    <!-------------------- start edit profile form ------------------>
    <form #editProfileForm="ngForm" (ngSubmit)="onSubmit(editProfileForm)">
        <!-------------------- start username form group ------------------>
        <div class="form-group">
            <!-------------------- start username ------------------>
            <div class="row">
                <!-------------------- start username label ------------------>
                <div class="col-md-2">
                    <label>Username</label>
                </div>
                <!-------------------- end username label ------------------>
                <!-------------------- start username input div ------------------>
                <div class="col-md-10">
                    <!-------------------- start username input ------------------>
                    <div class="input">
                        <!-------------------- username input ------------------>
                        <input type="text" class="form-control" [(ngModel)]="userData.name" name="name" #name="ngModel"
                            pattern="^[أ-يa-z0-9]{9,29}$" minlength="9" maxlength="29">
                        <!-------------------- end username input ------------------>
                    </div>
                    <!-------------------- end username input ------------------>
                </div>
                <!-------------------- end username input div ------------------>
            </div>
            <!-------------------- end username ------------------>

            <!----- start username errors -------->
            <div>

                <!-----  start error when username less than 8 characters-------->
                <nb-alert class="custom-alert" status="danger"
                    *ngIf="name.touched && name.invalid && name.errors.minlength">
                    <div>Name characters must be greater than 8 letters &#013; طول الاسم اكبر من 8 احرف</div>
                </nb-alert>
                <!-----  end error when username less than 8 characters-------->
                <!-----  start error when username has space -------->
                <nb-alert class="custom-alert" status="danger"
                    *ngIf="name.touched && userData.name.indexOf(space) !== -1">
                    <div> Username should not contain spaces <br> <span
                            style="text-align: right !important;float: right;">اسم المستخدم
                            يجب ان لا يحتوى على مسافات </span></div>
                </nb-alert>
                <!-----  end error when username has space -------->

                <!-----  start error when username has speial characters -------->
                <div>{{set_special_amonnt4()}}</div>


                <div class="special_charchers" *ngFor="let special_charcher of special_charchters;let i=index;">

                    <nb-alert class="custom-alert" status="danger"
                        *ngIf="name.touched && userData.name.indexOf(special_charcher) !== -1 && 1>get_special_amount4()">

                        <div>{{increment_special_amount4()}}</div><br>

                        <div>
                            Username should not contain special characters <br><span
                                style="text-align: right !important;float: right;"> اسم المستخدم يجب ان لا يحتوى على
                                رموز
                                خاصة</span> </div>
                    </nb-alert>
                </div>
                <!-----  end error when username has speial characters -------->
            </div>
            <!----- end username errors -------->

        </div>
        <!-------------------- end username form group ------------------>

        <!-------------------- start email form group ------------------>
        <div class="form-group">
            <!-------------------- start email ------------------>
            <div class="row">
                <!-------------------- start email label ------------------>
                <div class="col-md-2">
                    <!-------------------- email label ------------------>
                    <label>Email</label>
                </div>
                <!-------------------- end email label ------------------>
                <!-------------------- start email input div ------------------>
                <div class="col-md-10">
                    <!-------------------- email input ------------------>
                    <input type="email" class="form-control" email name="emailAdd" required placeholder="Email"
                        #emailAdd="ngModel" [(ngModel)]="userData.emailAdd" title="Email ex : name@domain.com">
                </div>
                <!-------------------- end email input div ------------------>
            </div>
            <!-------------------- end email ------------------>
            <!----- start email errors -------->
            <div>
                <!-----  start error when email is invalid-------->
                <nb-alert status="danger" *ngIf="emailAdd.invalid && emailAdd.touched">
                    <div class="emailAdd.errors?.email">Enter a valid Email &#013; أدخل بريد الكتروني صالح </div>
                </nb-alert>
                <!-----  end error when email is invalid-------->

                <!-----  start error when email has speial characters -------->
                <div>{{set_special_amonnt5()}}</div>


                <div class="special_charchers" *ngFor="let special_charchter2 of special_charchters2;let i=index;">

                    <nb-alert class="custom-alert" status="danger"
                        *ngIf="emailAdd.touched && userData.emailAdd.indexOf(special_charchter2) !== -1 && 1>get_special_amount5()">

                        <div>{{increment_special_amount5()}}</div><br>

                        <div>
                            Email should not contain special characters <br><span
                                style="text-align: right !important;float: right;"> البريد الالكترونى يجب ان لا يحتوى
                                على
                                رموز خاصة</span> </div>
                    </nb-alert>
                </div>
                <!-----  end error when email has speial characters -------->
            </div>
            <!----- end email errors -------->
        </div>
        <!-------------------- end email form group ------------------>

        <!-------------------- start phone form group ------------------>
        <div class="form-group">
            <!-------------------- start phone ------------------>
            <div class="row">
                <!-------------------- start phone label ------------------>
                <div class="col-md-2">
                    <!-------------------- phone label ------------------>
                    <label>Phone</label>
                </div>
                <!-------------------- end phone label ------------------>
                <!---------- start phone number input --------------->
                <div class="col-md-10">
                    <!---------- phone number input --------------->
                    <int-phone-prefix type="phone" placeholder="your phone number" class="form-control" name="phone"
                        #phone="ngModel" [(ngModel)]="userData.phone" pattern="^[0-9-+]+$"
                        style="border:0;padding:0;background:transparent" title="Phone must includes country code">
                    </int-phone-prefix>
                </div>
                <!---------- end phone number input --------------->
            </div>
            <!-------------------- end phone ------------------>
            <!----- start phone number errors -------->
            <div>
                <!-----  start error when phone number is not has country code-------->
                <nb-alert class="custom-alert" status="danger"
                    *ngIf="phone.touched && userDetails.phone.indexOf(plus) === -1">
                    <div> Phone number must contain the country code <br> <span
                            style="text-align: right !important;float: right;"> رقم الهاتف يجب ان يحتوى على كود
                            الدولة</span></div>
                </nb-alert>
                <!-----  end error when phone number is not has country code-------->
            </div>
            <!----- end phone number errors -------->
        </div>
        <!-------------------- end phone form group ------------------>

        <!-------------------- start address form group ------------------>
        <div class="form-group">
            <!-------------------- start address ------------------>
            <div class="row">
                <!-------------------- start address label ------------------>
                <div class="col-md-2">
                    <!-------------------- address label ------------------>
                    <label>Address</label>
                </div>
                <!-------------------- end address label ------------------>
                <div class="col-md-10">
                    <input type="text" placeholder="Address" class="form-control" [(ngModel)]="userData.address"
                        name="address" #address="ngModel" ngModel minlength="5" maxlength="100"
                        title="Address characters must be greater than 5 and less than 100 characters "> </div>
            </div>
            <!-------------------- end address ------------------>
            <!----- start address errors -------->
            <div>
                <!-----  start error when username less than 5 characters-------->
                <nb-alert class="custom-alert" status="danger" *ngIf="address.invalid && address.touched">
                    <div *ngIf="address.errors.minlength">Address characters must be greater than 5 <br><span
                            style="text-align: right !important;float: right;"> محل الاقامة يجب ان يحتوى على 5 احرف على
                            الاقل
                        </span></div>
                    <div *ngIf="address.errors.maxlength">Address characters must be less than 100 characters</div>
                </nb-alert>
                <!-----  end error when username less than 5 characters-------->
            </div>
            <!----- end address errors -------->
        </div>
        <!-------------------- end address form group ------------------>

        <!-------------------- start password form group ------------------>
        <div class="form-group">
            <!-------------------- start password ------------------>
            <div class="row">
                <!-------------------- start password label ------------------>
                <div class="col-md-2">
                    <!-------------------- password label ------------------>
                    <label>Password</label>
                </div>
                <!-------------------- start password label ------------------>
                <!-------------------- start password input div ------------------>
                <div class="col-md-10">
                    <!-------------------- start password input ------------------>
                    <div class="input">
                        <!-------------------- password input ------------------>
                        <input type="password" id="password-field2" placeholder="Password" class="form-control"
                            [(ngModel)]="userData.password" name="password" #password="ngModel" ngModel minlength="5"
                            maxlength="100"
                            pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{9,30}$">
                        <!---------- show password --------------->
                        <span toggle="#password-field2" class="eva eva-eye field_icon toggle-password"></span>

                    </div>
                    <!-------------------- end password input ------------------>
                </div>
                <!-------------------- end password input div ------------------>
            </div>
            <!-------------------- end password ------------------>
            <!----- start password errors -------->
            <div>
                <!-----  start error when password less than 10 characters-------->
                <nb-alert status="danger" *ngIf="password.touched && password.invalid && password.errors.minlength">
                    <div>Password must contain a minimum of 10 characters
                        <br><span style="text-align: right !important;float: right;"> كلمة المرور يجب ان تحتوى على 10
                            عناصر على
                            الاقل </span></div>
                </nb-alert>
                <!-----  end error when password less than 10 characters-------->

                <!-----  start error when password has speial characters -------->
                <nb-alert status="danger" *ngIf="password.touched && password.invalid && password.errors.pattern">
                    <div>Password must contain letters, numbers and special characters
                        <br><span style="text-align: right !important;float: right;"> كلمة المرور يجب ان تحتوى على احرف
                            و ارقام و
                            رموز </span></div>
                </nb-alert>
                <!-----  end error when password has speial characters -------->
            </div>
            <!----- end password errors -------->
        </div>
        <!------- start buttons ---------->
        <div class="row">

            <div class="col-md-1">
            </div>
            <!------- start button div ---------->
            <div class="col-md-11">
                <!------- start buttons submit ---------->
                <div class="buttons float-right">
                    <!------- cancel button submit ---------->
                    <a class="cancel_btn" (click)="cancel()">Cancel</a>
                    <!------- save button submit ---------->
                    <button type="submit" class="save_btn">Save Changes</button>
                </div>
                <!------- end buttons submit ---------->
            </div>
            <!------- end button div ---------->
        </div>
        <!------- end buttons ---------->
    </form>
    <!-------------------- end edit profile form ------------------>
</div>
<!-------------------- end edit profile content ------------------>