<div class="top">
  <div class="d-flex">
    <h4>Upload File Storage</h4>
  </div>
</div>
<div class="content">

  <form #uplaodFileStorageForm="ngForm"   enctype="multipart/form-data"  (ngSubmit)="onSubmit(uplaodFileStorageForm)" autocomplete="on">

    <div class="row">
      <div class="col-md-2">
        <label>Upload File</label>
      </div>
      <div class="col-md-10 col-sm-10 col-xs-10">
        <div class="input-group ">
          <input class="form-control browse" name="upload_file" type="file" required #upload_file="ngModel"
                 [(ngModel)]="file"
                 accept=".doc, .docx, .rtf, .txt, .xls, .xlsx, .xlr, .csv"
                 (change)="picked($event)"/>
        </div>
      </div>
    </div>

    <div class="float-right">
      <!--      <button type="submit" class="btn btn-lg log-btn add_token">save</button>-->
      <button type="submit" [disabled]="uplaodFileStorageForm.invalid"
              class="btn btn-lg log-btn add_token">Save</button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
