<!-------------- start transaction header ----------------->
<div class="top">
  <!-------------- start transaction title ----------------->
  <div class="d-flex">
    <h4>Transactions</h4>
  </div>
    <!-------------- end transaction title ----------------->
</div>
<!-------------- end transaction header ----------------->
  <!-------------- start transaction content ----------------->
<div class="content">

  
  <!-------------- start check if the user has transactions or no ----------------->
  <!-------------- start check if the user has not transactions or no ----------------->
<div *ngIf="!transactions else another">
No Transactions Yet
</div>
  <!-------------- end check if the user has not transactions or no ----------------->
  <!-------------- start check if the user has transactions ----------------->
  <ng-template #another>
        <!-------------------- start div for table-responsive ------------------>
<div class="table-responsive">
        <!-------------------- start table ------------------>
  <table class="table table-bordered table-hover">
            <!-------------------- start table head ------------------>
    <thead class="table-secondary">
                <!-------------------- start table head tr ------------------>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Token Name</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Amount</th>
      </tr>
                <!-------------------- end table head tr ------------------>
    </thead>
            <!-------------------- end table head ------------------>

                    <!-------------------- start table body ------------------>
    <tbody>
                <!-------------------- start loop for transaction ------------------>
      <tr *ngFor="let transaction of transactions| paginate: { itemsPerPage: 10, currentPage: p }">
        <th scope="row">{{transaction.TransactionDate | date}} <br> {{transaction.TransactionDate | date:'mediumTime'}}</th>
        <td>{{transaction.TokenID}}</td>
        <td>{{transaction.Sender}}</td>
        <td>{{transaction.Receiver}}</td>
        <td>{{transaction.Amount}}</td>
      </tr>
                      <!-------------------- end loop for transaction ------------------>
    </tbody>
            <!-------------------- end table body ------------------>
  </table>
        <!-------------------- end table ------------------>
              <!-------------------- start pagination ------------------>
  <div class="text-center">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
        <!-------------------- end pagination ------------------>
</div>
    <!-------------------- end div for table-responsive ------------------>
</ng-template>
  <!-------------- end check if the user has transactions ----------------->
</div>
  <!-------------- end transaction content ----------------->
